<!--Created by emalsha on 3/16/17-->

<!DOCTYPE html>
<head>

    <!--import heder part-->
    <% include includes/head.ejs %>

    <!--Import footer part-->
    <% include includes/foot.ejs %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
</head>
<body>

<div class="row">
    <!--side menu-->
    <% include includes/main_nav.ejs %>

    <!--page content-->
    <div class="main_content">

        <!--responsive - mobile size menu-->
        <div class="toppanel z-depth-1">
            <div class="col s4">
                <a href="#" id="sidemenu_toggle" data-activates="slide-out" class="button-collapse">
                    <i class="medium material-icons" style="cursor: pointer;color: #212121;">reorder</i>
                </a>

            </div>
            <div class="col s4">
                <div class="row" style="text-align: center">
                    <img src="/public/images/logo_small.png"
                         style="width: auto;height: 50px;max-width: 160px;max-height: 93px;margin: 5px;" class="s12">
                </div>
            </div>
            <div class="col s4 right-align">

            </div>
        </div>


        <div>


            <div class="row col l12 m12 s12">
                <!--Network Activity-->
                <div class="col s4 m3 contentbox_mainbox">
                    <div class="col s12 truncate contentbox_txt_up blue-grey-text lighten-2">Network Activity</div>
                    <div class="col s12 truncate contentbox_main blue-grey-text" id="system_rx">Unknown</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2" id="system_tx">Unknown</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                        <div class="progress  blue-grey lighten-5">
                            <div class="determinate"  id="progress_rx" style="width: 20%;background-color: #33D933;"></div>
                            <div class="determinate red accent-3" id="progress_tx" style="width: 10%"></div>
                        </div>
                    </div>
                </div>

                <script>
                    var system_rx = document.getElementById('system_rx');
                    var system_tx = document.getElementById('system_tx');
                    var progress_rx = document.getElementById('progress_rx');
                    var progress_tx = document.getElementById('progress_tx');
                    socket.on('system_rxtx', function(msg){
                        var obj = JSON.parse(msg);
                        console.log(msg);
                        system_rx.innerHTML = "RX " + obj.rx + " " + obj.rxUnit + "ps";
                        system_tx.innerHTML = "TX " + obj.tx + " " + obj.txUnit + "ps";
                        progress_rx.style.width = obj.rxprecent+"%";
                        progress_tx.style.width = obj.txprecent+"%";
                    });

                </script>



                <div class="col s4 m3 contentbox_mainbox">
                    <div class="col s12 truncate contentbox_txt_up blue-grey-text lighten-2">Monthly Usage</div>
                    <div class="col s12 truncate contentbox_main blue-grey-text">18.72 GB</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">6 Downloads</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                        <div class="progress">
                            <div class="determinate" style="width: 20%"></div>
                        </div>
                    </div>
                </div>

                <!--User available disk space status-->
                <div class="col s6 m3 l3 contentbox_mainbox">
                    <div class="col s12 m12 l12 truncate contentbox_txt_up blue-grey-text lighten-2">Available Disk Space
                    </div>
                    <div class="col s12 m12 l12 truncate contentbox_main deep-orange-text accent-3" id="system_storage_used">Unknown</div>
                    <div class="col s12 m12 l12 truncate contentbox_txt_down" id="system_storage_total">Unknown</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                        <div class="progress deep-orange  lighten-4" id="system_storage_progress_outer">
                            <div class="determinate deep-orange" style="width: 0%" id="system_storage_progress"></div>
                        </div>
                    </div>
                </div>

                <script>
                    var storage_used = document.getElementById('system_storage_used');
                    var storage_total = document.getElementById('system_storage_total');
                    var storage_progress = document.getElementById('system_storage_progress');
                    var system_storage_progress_outer = document.getElementById('system_storage_progress_outer');
                    socket.on('system_storage_usage', function(msg){
                        var obj = JSON.parse(msg);
                        console.log(msg);
                        storage_used.innerHTML = obj.available + " " + obj.availableUnit;
                        storage_total.innerHTML = obj.used + " " + obj.usedUnit + " used out of " + obj.total + " " + obj.totalUnit;
                        storage_progress.style.width = obj.progress+"%";

                        if (obj.progress > 85 ){
                            storage_used.classList.remove('teal-text');
                            storage_used.classList.remove('lighten-2');
                            storage_used.classList.add('deep-orange-text');
                            storage_used.classList.add('accent-3');

                            storage_progress.classList.add('deep-orange');
                            system_storage_progress_outer.classList.add('deep-orange');
                            system_storage_progress_outer.classList.add('lighten-4');
                        }else{
                            storage_used.classList.add('teal-text');
                            storage_used.classList.add('lighten-2');
                            storage_used.classList.remove('deep-orange-text');
                            storage_used.classList.remove('accent-3');

                            storage_progress.classList.remove('deep-orange');
                            system_storage_progress_outer.classList.remove('deep-orange');
                            system_storage_progress_outer.classList.remove('lighten-4');
                        }
                    });

                </script>

                <!--Download manager up time status-->
                <div class="col s4 m3 contentbox_mainbox">
                    <div class="col s12 truncate contentbox_txt_up blue-grey-text lighten-2">Download Manager</div>
                    <div class="col s12 truncate contentbox_main deep-orange-text accent-3" id="online_status_code">Unknown</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2" id="online_status_eta">Unknown</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                        <div class="progress deep-orange  lighten-4" id="online_status_progress_outer">
                            <div class="determinate deep-orange" style="width: 20%" id="online_status_progress"></div>
                        </div>
                    </div>
                </div>

                <script>
                    var online_status_code = document.getElementById('online_status_code');
                    var online_status_eta = document.getElementById('online_status_eta');
                    var online_status_progress = document.getElementById('online_status_progress');
                    var online_status_progress_outer = document.getElementById('online_status_progress_outer');
                    socket.on('online_status_info', function(msg){
                        var obj = JSON.parse(msg);
                        online_status_code.innerHTML = obj.status;
                        online_status_eta.innerHTML = obj.eta;
                        online_status_progress.style.width = obj.precent+"%";

                        if (obj.status == "Online"){
                            online_status_code.classList.add('teal-text');
                            online_status_code.classList.add('lighten-2');
                            online_status_code.classList.remove('deep-orange-text');
                            online_status_code.classList.remove('accent-3');

                            online_status_progress.classList.remove('deep-orange');
                            online_status_progress_outer.classList.remove('deep-orange');
                            online_status_progress_outer.classList.remove('lighten-4');
                        }else{
                            online_status_code.classList.remove('teal-text');
                            online_status_code.classList.remove('lighten-2');
                            online_status_code.classList.add('deep-orange-text');
                            online_status_code.classList.add('accent-3');

                            online_status_progress.classList.add('deep-orange');
                            online_status_progress_outer.classList.add('deep-orange');
                            online_status_progress_outer.classList.add('lighten-4');
                        }
                    });

                </script>
            </div>

            <div class="row"></div>
            <div class="row col l12 m12 ">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab"><a class="red-text darken-4" href="#test1">Statistics</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test2">
                                <% if(downloadRequest.length){ %>
                                <span class="new badge"><%= downloadRequest.length %></span>
                                <% } %>
                                Download Requests</a></li>
                        <!-- <li class="tab"><a class="red-text darken-4" href="#test3">Sheduled Downloads</a></li> -->
                        <li class="tab"><a class="red-text darken-4" href="#test4">Member Management</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test5">System Settings</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test6">Additionals</a></li>
                    </ul>
                </div>
                <!--System Stats and Status Tab-->

                <!--Administration Tab Page 2-->
                <div id="test1" class="col l12 m12 s12">
                    <div class="row">
                        <!--System Stat Graphs-->
                        <div class="col s12 m6 l6">
                            <!--<div class="subsection_title_sub">Last Hour Network Usage</div>-->
                            <canvas id="network_usage"></canvas>
                        </div>
                        <div class="col s12 m6 l6">
                            <!--<div class="subsection_title_sub">System Load</div>-->
                            <canvas id="system_load"></canvas>
                        </div>
                        <!--<div class="col s12 m12 l12">-->
                        <!--<div class="subsection_title_sub">System Memory</div>-->
                        <!--<canvas id="system_memory" height="200px" width="100%"></canvas>-->
                        <!--</div>-->
                    </div>
                    <!--Stats-->
                    <div class="row">
                        <div class="col s8">
                            <div class="subsection_title_sub">Most Downloads in Last 30 days</div>
                        </div>
                        <div class="col s4">
                            <div class="subsection_title_sub">Most Downloads in Last 30 days</div>
                        </div>
                    </div>


                </div>

                <!--Administration Tab Page 2-->
                <div id="test2" class="col s12">
                    <div class="subsection_title_sub">Download Requests</div>
                    <div class="row">
                        <div class="col s12">
                            <ul class="collapsible" data-collapsible="accordion" id="downloadRequestCollapse">

                                <% if(downloadRequest != ""){ %>

                                <li class="collapsible-header  grey darken-4">
                                    <div class="collapsible-header  grey darken-4">
                                        <div class="col s4 white-text pg_admin_dlreq_headrer">Title</div>
                                        <div class="col s2 white-text pg_admin_dlreq_headrer">Requestor</div>
                                        <div class="col s2 white-text pg_admin_dlreq_headrer">Date</div>
                                        <div class="col s4 white-text pg_admin_dlreq_headrer">Tags</div>
                                    </div>
                                </li>

                                <% }else{ %>

                                <li class="collapsible-header"> No request</li>

                                <% } %>
                                <!--collapse body-->
                                <% for(let item in downloadRequest) {
                                    let data = downloadRequest[item];
                                    let requestedDate = new Date(data['request_date']);
                                %>
                                <li>
                                    <div class="collapsible-header">
                                        <div class="col s4 truncate"><%= data['link'] %> </div>
                                        <div class="col s2 truncate"><%= data['request_user'] %></div>
                                        <div class="col s2 truncate"><%= requestedDate.toDateString() %></div>
                                        <div class="col s4 truncate">
                                            <%
                                                var tags = data['tags'];
                                            if(tags != ''){
                                            for(let i = 0; i < tags.length;i++){ %>
                                            <div class="chip">
                                                <%= tags[i] %>
                                            </div>
                                            <% }
                                            } %>

                                        </div>
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="row">
                                            <div class="col s8">
                                                <div class="col s12">
                                                    <span class="subsection_title_sub no_padding">Download Details</span>
                                                </div>
                                                <div class="col s12 l2 truncate contentbox_detail_field">Download Link
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%= data['link'] %>
                                                </div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">Reference
                                                    Link
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    https://www.google.lk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=materialize+css+input+color&*
                                                </div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">File Size</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">2.35 GB</div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">ETA</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">2h 33mins
                                                </div>

                                                <div class="col s12 l2 truncate  contentbox_detail_field">Requested
                                                    Date
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%= requestedDate.toUTCString() %>
                                                </div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">Description
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['description'] || 'none' %></div>


                                                <div class="col s12 l2 truncate contentbox_detail_field">Description
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">Description
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>

                                            </div>
                                            <div class="col s4">
                                                <span class="subsection_title_sub no_padding">Respond to Request</span>
                                                <ul class="collapsible" data-collapsible="accordion">
                                                    <li>
                                                        <div class="collapsible-header green"><i class="material-icons">done</i>Accept
                                                            Request
                                                        </div>
                                                        <!--Approve form-->
                                                        <div class="collapsible-body">
                                                            <form action="/download/approve" method="post"
                                                                  id="approveForm">
                                                                <div class="row">
                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        New Tags
                                                                    </div>
                                                                    <div class="col s12 truncate  contentbox_detail_value">
                                                                        <div class="chips" id="approve_newtags"></div>
                                                                    </div>

                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        Priority
                                                                    </div>
                                                                    <div class="col s12 truncate  contentbox_detail_value">
                                                                        <div class="row">
                                                                            <div class="input-field col s12">
                                                                                <select class="display" id="s_priority"
                                                                                        name="priority">
                                                                                    <option value="" disabled selected>
                                                                                        Choose your option
                                                                                    </option>
                                                                                    <option value="1">Priority 1
                                                                                    </option>
                                                                                    <option value="2">Priority 2
                                                                                    </option>
                                                                                    <option value="3">Priority 3
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        Administrator Notes
                                                                    </div>
                                                                    <div class="col s12 truncate  contentbox_detail_value">
                                                                        <div class="col s12">
                                                                            <input placeholder="Notes ..."
                                                                                   id="admin_notes"
                                                                                   type="text" class="validate"
                                                                                   name="admin_note">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        Availability
                                                                    </div>
                                                                    <div class="col s12 truncate  contentbox_detail_value">
                                                                        <div class="row" style="padding: 5px">
                                                                            <div class="col s12">
                                                                                <div class="switch">
                                                                                    <label>
                                                                                        Private
                                                                                        <%
                                                                                            let avai;
                                                                                            if (data['availability'] === 'public') {
                                                                                                avai = 'checked';
                                                                                            }
                                                                                        %>
                                                                                        <input type="checkbox"
                                                                                               id="availablity_switch"
                                                                                                <%= avai %>>
                                                                                        <span class="lever"></span>
                                                                                        Public
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <input type="hidden" id="availability"
                                                                           name="availability">
                                                                    <input type="hidden" id="tag_values"
                                                                           name="new_tags">
                                                                    <input type="hidden" value="<%= data['_id'] %>"
                                                                           name="download_id">
                                                                    <button class="waves-effect waves-light btn green"
                                                                            id="app_btn">Approve
                                                                        Request
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="collapsible-header red"><i class="material-icons">not_interested</i>Reject
                                                            Request
                                                        </div>

                                                        <!--Reject form-->
                                                        <div class="collapsible-body">
                                                            <form action="/download/reject" method="post"
                                                                  id="rejectForm" onsubmit="return rejectConfirm();">
                                                                <div class="row">
                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        Reason to Reject
                                                                    </div>
                                                                    <div class="col s12 truncate  contentbox_detail_value">
                                                                        <div class="row">
                                                                            <div class="col s12">
                                                                                <select class="display" name="reason"
                                                                                        required>
                                                                                    <option value="">Select reason
                                                                                    </option>
                                                                                    <option value="Not appropriate">Not
                                                                                        appropriate
                                                                                    </option>
                                                                                    <option value="Already downloaded">
                                                                                        Already downloaded
                                                                                    </option>
                                                                                    <option value="Incorrect file">
                                                                                        Incorrect file
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        Administrator Notes
                                                                    </div>
                                                                    <div class="col s12 truncate  contentbox_detail_value">
                                                                        <div class="col s12">
                                                                            <input type="hidden"
                                                                                   value="<%= data['_id'] %>"
                                                                                   name="download_id">
                                                                            <input placeholder="Notes ..."
                                                                                   id="rejectNote"
                                                                                   type="text" class="validate"
                                                                                   name="admin_note">
                                                                        </div>
                                                                    </div>
                                                                    <button class="waves-effect waves-light btn red">
                                                                        Reject
                                                                        Request
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% } %>

                            </ul>
                        </div>
                    </div>
                </div>

                <div id="test5" class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="0">12:00 AM</option>
                                <option value="1">1:00 AM</option>
                                <option value="2">2:00 AM</option>
                                <option value="3">3:00 AM</option>
                                <option value="4">4:00 AM</option>
                                <option value="5">5:00 AM</option>
                                <option value="6">6:00 AM</option>
                                <option value="7">7:00 AM</option>
                                <option value="8">8:00 AM</option>
                                <option value="9">9:00 AM</option>
                                <option value="10">10:00 AM</option>
                                <option value="11">11:00 AM</option>
                                <option value="12">12:00 PM</option>
                                <option value="13">1:00 PM</option>
                                <option value="14">2:00 PM</option>
                                <option value="15">3:00 PM</option>
                                <option value="16">4:00 PM</option>
                                <option value="17">5:00 PM</option>
                                <option value="18">6:00 PM</option>
                                <option value="19">7:00 PM</option>
                                <option value="20">8:00 PM</option>
                                <option value="21">9:00 PM</option>
                                <option value="22">10:00 PM</option>
                                <option value="23">11:00 PM</option>
                            </select>
                            <label>Start of Peak Hour</label>
                        </div>

                        <div class="input-field col s6">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="0">12:00 AM</option>
                                <option value="1">1:00 AM</option>
                                <option value="2">2:00 AM</option>
                                <option value="3">3:00 AM</option>
                                <option value="4">4:00 AM</option>
                                <option value="5">5:00 AM</option>
                                <option value="6">6:00 AM</option>
                                <option value="7">7:00 AM</option>
                                <option value="8">8:00 AM</option>
                                <option value="9">9:00 AM</option>
                                <option value="10">10:00 AM</option>
                                <option value="11">11:00 AM</option>
                                <option value="12">12:00 PM</option>
                                <option value="13">1:00 PM</option>
                                <option value="14">2:00 PM</option>
                                <option value="15">3:00 PM</option>
                                <option value="16">4:00 PM</option>
                                <option value="17">5:00 PM</option>
                                <option value="18">6:00 PM</option>
                                <option value="19">7:00 PM</option>
                                <option value="20">8:00 PM</option>
                                <option value="21">9:00 PM</option>
                                <option value="22">10:00 PM</option>
                                <option value="23">11:00 PM</option>
                            </select>
                            <label>End of Peak Hour</label>
                        </div>
                    </div>
                </div>
                <div id="test4" class="col s12">Test 5</div>
                <div id="test6" class="col s12">Test 6</div>



            </div>

        </div>
    </div>
    </div>


    <script>



        $('.button-collapse').sideNav({
                menuWidth: 250, // Default is 300
                edge: 'left', // Choose the horizontal origin
            }
        );

        $(document).ready(function () {
            $('ul.tabs').tabs();
            $('#approve_newtags').material_chip()
        });

        $('.chips').material_chip();

        //    Approve form
        $('#approveForm').submit(function () {
//        Get tag values
            let ar = $('#approve_newtags').material_chip('data');
            let new_array = [];
            for (let i = 0; i < ar.length; i++) {
                new_array.push(ar[i].tag);
            }
            $('#tag_values').val(new_array);

//        Get switch value
            let a = $('#availablity_switch').prop('checked');
            $('#availability').val(a);

        });

        //    Reject form
        let rejectConfirm = function () {

            x0p({
                title: "Confirm Reject",
                text: 'Reject Download Request.',
                icon: 'warning',
                type: 'warning',
                animationType: 'fadeIn',
                button: [
                    {
                        type: 'warning',
                        text: 'Reject',
                        showLoading: true
                    },
                    {
                        type: 'cancel'
                    }
                ]
            }, function (data) {
                if (data) {
                    console.log(data);
                    console.log(data === 'warning');
                    if (data === 'warning') {
                        document.getElementById('rejectForm').submit();
                    }
                }
            });
            return false;
        };

    </script>


    <script>
        var network_usage;



        $('document').ready(function () {

            var optionsNoAnimation = {
                animation: false,
                //Boolean - If we want to override with a hard coded scale
                scaleOverride: true,
                //** Required if scaleOverride is true **
                //Number - The number of steps in a hard coded scale
                scaleSteps: 20,
                //Number - The value jump in the hard coded scale
                scaleStepWidth: 10,
                //Number - The scale starting value
                scaleStartValue: 0
            }

            var network_usage_chart = $('#network_usage')[0].getContext('2d');
            network_usage = new Chart(network_usage_chart, {
                type: 'line',
                responsive: true,

                maintainAspectRatio: false,
                options: {
                    title: {
                        display: true,
                        text: 'Last Thirty Minute Network Usage',
                        fontSize: 14,
                        position: 'bottom'
                    },
                    animation: false,
                    scaleOverride: true,
                    scaleSteps: 20,
                    scaleStepWidth: 10,
                    scaleStartValue: 10,
                    pointRadius:0,
                    scales: {
                        yAxes: [
                            {
                            scaleLabel: {
                                display: true,
                                labelString: 'MBps'
                            }
                        }]
                    }
                },
                data: {
                    xLabels: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
                    datasets: [
                        {
                            label: 'Upload',
                            borderColor: "rgba(0, 12, 240,0)",
                            borderWidth:1,
                            backgroundColor: "rgba(255, 69, 0,1)",
                            radius: 0, // radius is 0 for only this dataset
                            fill:true
                        },
                        {
                            label: 'Download',
                            borderWidth:1,
                            borderColor: "rgba(0, 0, 0,0)",
                            backgroundColor: "rgba(0, 207, 0,0.8)",
                            radius: 0 // radius is 0 for only this dataset
                        }]
                }
            });

            setInterval(function () {
//                $.ajax({
//                    url: '/info/network_usage',
//                    dataType: "json",
//                    success: function (data) {
//                        network_usage.data.datasets[1].data = data[0]['array'];
//                        network_usage.data.datasets[0].data = data[1]['array'];
//                        network_usage.update();
//
//                    }
//                });
//                socket.emit('message', 'Hi server, how are you?');
            }, 1000 * 1);
        });


        var system_load_chart = $('#system_load')[0].getContext('2d');
        var system_load = new Chart(system_load_chart, {
            type: 'line',
            responsive: true,
            maintainAspectRatio: false,
            options: {
                title: {
                    display: true,
                    text: 'System Load',
                    fontSize: 14,
                    position: 'bottom',
                }
            },
            data: {
                labels: ['10', '20', '30', '40', '50', '60', '70', '80', '90'],
                datasets: [
                    {
                        label: 'Upload',
                        data: [100, 85, 115, 227, 21, 105, 120],
                        backgroundColor: "rgba(251, 188, 5,0.5)"
                    },
                    {
                        label: 'Download',
                        data: [900, 1024, 500, 247, 304, 125, 420],
                        backgroundColor: "rgba(5, 176, 36,0.8)"
                    }]
            }
        });

        var system_memory_chart = $('#system_memory')[0].getContext('2d');
        var system_memory = new Chart(system_memory_chart, {
            type: 'line',
            responsive: false,
            maintainAspectRatio: false,
            data: {
                labels: ['10', '20', '30', '40', '50', '60', '70', '80', '90'],
                datasets: [{
                    label: 'Download Speed',
                    data: [356, 55, 33, 247, 304, 125, 420],
                    backgroundColor: "rgba(5, 176, 36,0.8)"
                }]
            }
        });

        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx, {
            type: 'line',
            responsive: true,
            maintainAspectRatio: false,
            data: {
                labels: ['10', '20', '30', '40', '50', '60', '70', '80', '90'],
                datasets: [{
                    label: 'Download Speed',
                    data: [59, 55, 215, 247, 22, 125, 420],
                    backgroundColor: "rgba(5, 176, 36,0.8)"
                }]
            }
        });

        var ctx = document.getElementById('monthview').getContext('2d');
        var myChart2 = new Chart(ctx, {
            type: 'bar',
            responsive: true,
            maintainAspectRatio: false,
            data: {
                labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30"],
                datasets: [
                    {
                        backgroundColor: 'rgba(75, 192, 192, 0.8)',
                        borderWidth: 1,
                        data: [65, 59, 80, 81, 56, 55, 40],
                    }
                ]
            }
        });


    </script>

    <!--SOCKECT SCRIPTS-->
    <script>
        socket.on('stat_net_network', function(msg){
            //console.log(msg);
            network_usage.data.datasets[1].data = msg[0]['array'];
            network_usage.data.datasets[0].data = msg[1]['array'];
            network_usage.update();
        });
    </script>
</body>
</html>
