<!--Created by emalsha on 3/16/17-->

<!DOCTYPE html>
<head>

    <!--import heder part-->
    <% include includes/head.ejs %>

    <!--Import footer part-->
    <% include includes/foot.ejs %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <script type="text/javascript" src="../../public/javascript/administrator.js"></script>
</head>
<body>

<div class="row">
    <!--side menu-->
    <% include includes/main_nav.ejs %>

    <!--page content-->
    <div class="main_content">

        <!--responsive - mobile size menu-->
        <div class="toppanel z-depth-1">
            <div class="col s4">
                <a href="#" id="sidemenu_toggle" data-activates="slide-out" class="button-collapse">
                    <i class="medium material-icons" style="cursor: pointer;color: #212121;">reorder</i>
                </a>

            </div>
            <div class="col s4">
                <div class="row" style="text-align: center">
                    <img src="/public/images/logo_small.png"
                         style="width: auto;height: 50px;max-width: 160px;max-height: 93px;margin: 5px;" class="s12">
                </div>
            </div>
            <div class="col s4 right-align">

            </div>
        </div>


        <div>
            <div class="row col l12 m12 s12">
                <!--Network Activity-->
                <div class="col s4 m3 contentbox_mainbox">
                    <div class="col s12 truncate contentbox_txt_up blue-grey-text lighten-2">Network Activity</div>
                    <div class="col s12 truncate contentbox_main blue-grey-text" id="system_rx">Unknown</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2" id="system_tx">Unknown
                    </div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                        <div class="progress  blue-grey lighten-5">
                            <div class="determinate" id="progress_rx"
                                 style="width: 20%;background-color: #33D933;"></div>
                            <div class="determinate red accent-3" id="progress_tx" style="width: 10%"></div>
                        </div>
                    </div>
                </div>

                <!--Network activity status-->
                <script>
                    var system_rx = document.getElementById('system_rx');
                    var system_tx = document.getElementById('system_tx');
                    var progress_rx = document.getElementById('progress_rx');
                    var progress_tx = document.getElementById('progress_tx');
                    socket.on('system_rxtx', function (msg) {
                        var obj = JSON.parse(msg);
//                        console.log(msg);
                        if (obj.swap == "1") {
                            system_tx.innerHTML = "RX " + obj.rx + " " + obj.rxUnit + "ps";
                            system_rx.innerHTML = "TX " + obj.tx + " " + obj.txUnit + "ps";
                            progress_tx.style.width = obj.rxprecent + "%";
                            progress_rx.style.width = obj.txprecent + "%";
                        } else {
                            system_rx.innerHTML = "RX " + obj.rx + " " + obj.rxUnit + "ps";
                            system_tx.innerHTML = "TX " + obj.tx + " " + obj.txUnit + "ps";
                            progress_rx.style.width = obj.rxprecent + "%";
                            progress_tx.style.width = obj.txprecent + "%";
                        }

                    });

                </script>

                <!--Monthly usage status-->
                <div class="col s4 m3 contentbox_mainbox">
                    <div class="col s12 truncate contentbox_txt_up blue-grey-text lighten-2">Monthly Usage</div>
                    <div class="col s12 truncate contentbox_main blue-grey-text">18.72 GB</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">6 Downloads</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                        <div class="progress">
                            <div class="determinate" style="width: 20%"></div>
                        </div>
                    </div>
                </div>

                <!--User available disk space status-->
                <div class="col s6 m3 l3 contentbox_mainbox">
                    <div class="col s12 m12 l12 truncate contentbox_txt_up blue-grey-text lighten-2">Available Disk
                        Space
                    </div>
                    <div class="col s12 m12 l12 truncate contentbox_main deep-orange-text accent-3"
                         id="system_storage_used">Unknown
                    </div>
                    <div class="col s12 m12 l12 truncate contentbox_txt_down" id="system_storage_total">Unknown</div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                        <div class="progress deep-orange  lighten-4" id="system_storage_progress_outer">
                            <div class="determinate deep-orange" style="width: 0%" id="system_storage_progress"></div>
                        </div>
                    </div>
                </div>

                <!--Download manager up time status-->
                <div class="col s4 m3 contentbox_mainbox">
                    <div class="col s12 truncate contentbox_txt_up blue-grey-text lighten-2">Download Manager</div>
                    <div class="col s12 truncate contentbox_main deep-orange-text accent-3" id="online_status_code">
                        Unknown
                    </div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2" id="online_status_eta">
                        Unknown
                    </div>
                    <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                        <div class="progress deep-orange  lighten-4" id="online_status_progress_outer">
                            <div class="determinate deep-orange" style="width: 20%" id="online_status_progress"></div>
                        </div>
                    </div>
                </div>

                <!--Storage usage -->
                <script>
                    var storage_used = document.getElementById('system_storage_used');
                    var storage_total = document.getElementById('system_storage_total');
                    var storage_progress = document.getElementById('system_storage_progress');
                    var system_storage_progress_outer = document.getElementById('system_storage_progress_outer');
                    socket.on('system_storage_usage', function (msg) {
                        var obj = JSON.parse(msg);
                        //console.log(msg);
                        storage_used.innerHTML = obj.available + " " + obj.availableUnit;
                        storage_total.innerHTML = obj.used + " " + obj.usedUnit + " used out of " + obj.total + " " + obj.totalUnit;
                        storage_progress.style.width = obj.progress + "%";

                        if (obj.progress > 85) {
                            storage_used.classList.remove('teal-text');
                            storage_used.classList.remove('lighten-2');
                            storage_used.classList.add('deep-orange-text');
                            storage_used.classList.add('accent-3');

                            storage_progress.classList.add('deep-orange');
                            system_storage_progress_outer.classList.add('deep-orange');
                            system_storage_progress_outer.classList.add('lighten-4');
                        } else {
                            storage_used.classList.add('teal-text');
                            storage_used.classList.add('lighten-2');
                            storage_used.classList.remove('deep-orange-text');
                            storage_used.classList.remove('accent-3');

                            storage_progress.classList.remove('deep-orange');
                            system_storage_progress_outer.classList.remove('deep-orange');
                            system_storage_progress_outer.classList.remove('lighten-4');
                        }
                    });

                </script>

                <!--Socket connetion-->
                <script>
                    var online_status_code = document.getElementById('online_status_code');
                    var online_status_eta = document.getElementById('online_status_eta');
                    var online_status_progress = document.getElementById('online_status_progress');
                    var online_status_progress_outer = document.getElementById('online_status_progress_outer');
                    socket.on('online_status_info', function (msg) {
                        var obj = JSON.parse(msg);
                        online_status_code.innerHTML = obj.status;
                        online_status_eta.innerHTML = obj.eta;
                        online_status_progress.style.width = obj.precent + "%";

                        if (obj.status == "Online") {
                            online_status_code.classList.add('teal-text');
                            online_status_code.classList.add('lighten-2');
                            online_status_code.classList.remove('deep-orange-text');
                            online_status_code.classList.remove('accent-3');

                            online_status_progress.classList.remove('deep-orange');
                            online_status_progress_outer.classList.remove('deep-orange');
                            online_status_progress_outer.classList.remove('lighten-4');
                        } else {
                            online_status_code.classList.remove('teal-text');
                            online_status_code.classList.remove('lighten-2');
                            online_status_code.classList.add('deep-orange-text');
                            online_status_code.classList.add('accent-3');

                            online_status_progress.classList.add('deep-orange');
                            online_status_progress_outer.classList.add('deep-orange');
                            online_status_progress_outer.classList.add('lighten-4');
                        }
                    });

                </script>
            </div>

            <div class="row col l12 m12 ">

                <!--Navigation panel-->
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab"><a class="red-text darken-4" href="#test1">Statistics</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test2">
                                <% if(downloadRequest.length){ %>
                                <span class="new badge"><%= downloadRequest.length %></span>
                                <% } %>
                                Download Requests</a></li>
                        <!-- <li class="tab"><a class="red-text darken-4" href="#test3">Sheduled Downloads</a></li> -->
                        <!--<li class="tab"><a class="red-text darken-4" href="#test4">Member Management</a></li>-->
                        <li class="tab"><a class="red-text darken-4" href="#test5">System Settings</a></li>
                        <!--<li class="tab"><a class="red-text darken-4" href="#test6">Additionals</a></li>-->
                    </ul>
                </div>

                <!--System Stats and Status Tab-->
                <div id="test1" class="col l12 m12 s12">
                    <div class="row">
                        <!--System Stat Graphs-->
                        <div class="col s12 m6 l6">
                            <!--<div class="subsection_title_sub">Last Hour Network Usage</div>-->
                            <canvas id="network_usage"></canvas>
                        </div>
                        <div class="col s12 m6 l6">
                            <!--<div class="subsection_title_sub">System Load</div>-->
                            <canvas id="system_load"></canvas>
                        </div>
                        <!--<div class="col s12 m12 l12">-->
                        <!--<div class="subsection_title_sub">System Memory</div>-->
                        <!--<canvas id="system_memory" height="200px" width="100%"></canvas>-->
                        <!--</div>-->
                    </div>
                    <!--Stats-->
                    <div class="row">
                        <div class="col s4">
                            <div class="subsection_title_sub">Currently Active Users</div>
                            <div id="onlineusers">

                            </div>

                        </div>
                        <div class="col s8">
                            <div class="subsection_title_sub"></div>
                        </div>
                    </div>
                    <script>
                        socket.on('online-users', function (data) {
                            var usercontainer = document.getElementById("onlineusers");
                            usercontainer.innerHTML = "";
                            for (var i = 0; i < data.users.length; i++) {
                                usercontainer.innerHTML += '<div class="chip" id="' + data.users[i] + '">' + data.users[i] + '</div>'
                            }

                            for (var i = 0; i < data.admins.length; i++) {
                                document.getElementById(data.admins[i]).classList.add("amber");
                            }
                            console.log(data);

                        });
                    </script>


                </div>

                <!--Download request tab-->
                <div id="test2" class="col s12">
                    <div class="subsection_title_sub">Download Requests</div>
                    <div class="row">
                        <div class="col s12">
                            <ul class="collapsible" data-collapsible="accordion" id="downloadRequestCollapse">

                                <% if(downloadRequest != ""){ %>

                                <li class="collapsible-header  grey darken-4">
                                    <div class="collapsible-header  grey darken-4">
                                        <div class="col s4 white-text pg_admin_dlreq_headrer">Title</div>
                                        <div class="col s2 white-text pg_admin_dlreq_headrer">Requestor</div>
                                        <div class="col s2 white-text pg_admin_dlreq_headrer">Date</div>
                                        <div class="col s4 white-text pg_admin_dlreq_headrer">Tags</div>
                                    </div>
                                </li>

                                <% }else{ %>

                                <li class="collapsible-header"> No request</li>

                                <% } %>
                                <!--collapse body-->
                                <% for(let item in downloadRequest) {
                                    let data = downloadRequest[item];
                                    let requestedDate = new Date(data['request_date']);
                                %>
                                <li>
                                    <%
                                        var title;
                                        if (data['file_title']) {
                                            title = data['file_title'];
                                        } else {
                                            var ar = data['link'].split('/');
                                            title = ar[ar.length - 1];
                                        } %>
                                    <div class="collapsible-header">
                                        <div class="col s4 truncate"><%= title %> </div>
                                        <div class="col s2 truncate"><%= data['request_user'] %></div>
                                        <div class="col s2 truncate"><%= requestedDate.toDateString() %></div>
                                        <div class="col s4 truncate">
                                            <%
                                                var tags = data['tags'];
                                            if(tags != ''){
                                            for(let i = 0; i < tags.length;i++){ %>
                                            <div class="chip">
                                                <%= tags[i] %>
                                            </div>
                                            <% }
                                            } %>

                                        </div>
                                    </div>
                                    <div class="collapsible-body">
                                        <div class="row">
                                            <div class="col s8">
                                                <div class="col s12">
                                                    <span class="subsection_title_sub no_padding">Download Details</span>
                                                </div>
                                                <div class="col s12 l2 truncate contentbox_detail_field">Download Link
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%= data['link'] %>
                                                </div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">Reference
                                                    Link
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    https://www.google.lk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=materialize+css+input+color&*
                                                </div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">File Size</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">2.35 GB</div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">ETA</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">2h 33mins
                                                </div>

                                                <div class="col s12 l2 truncate  contentbox_detail_field">Requested
                                                    Date
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%= requestedDate.toUTCString() %>
                                                </div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">Description
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['description'] || 'none' %></div>


                                                <div class="col s12 l2 truncate contentbox_detail_field">Description
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>

                                                <div class="col s12 l2 truncate contentbox_detail_field">Description
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>

                                            </div>
                                            <div class="col s4">
                                                <span class="subsection_title_sub no_padding">Respond to Request</span>
                                                <ul class="collapsible" data-collapsible="accordion">
                                                    <li>
                                                        <div class="collapsible-header green white-text"><i
                                                                    class="material-icons white-text">done</i>Accept
                                                            Request
                                                        </div>
                                                        <!--Approve form-->
                                                        <div class="collapsible-body">
                                                            <form action="/download/approve" method="post"
                                                                  id="approveForm">
                                                                <div class="row">
                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        New Tags
                                                                    </div>
                                                                    <div class="col s12 truncate  contentbox_detail_value">
                                                                        <div class="chips" id="approve_newtags"></div>
                                                                    </div>

                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        Priority
                                                                    </div>
                                                                    <div class="col s12  contentbox_detail_value">
                                                                        <div class="row" style="all:unset;">
                                                                            <select id="s_priority" name="priority">
                                                                                <option value="" disabled selected>
                                                                                    Choose your option
                                                                                </option>
                                                                                <option value="3">Priority 3</option>
                                                                                <option value="2">Priority 2</option>
                                                                                <option value="1">Priority 1</option>
                                                                            </select>
                                                                        </div>

                                                                    </div>

                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        Administrator Notes
                                                                    </div>
                                                                    <div class="col s12 truncate  contentbox_detail_value">
                                                                        <div class="col s12">
                                                                            <input placeholder="Notes ..."
                                                                                   id="admin_notes"
                                                                                   type="text" class="validate"
                                                                                   name="admin_note">
                                                                        </div>
                                                                    </div>

                                                                    <input type="hidden" id="availability"
                                                                           name="availability">
                                                                    <input type="hidden" id="tag_values"
                                                                           name="new_tags">
                                                                    <input type="hidden" value="<%= data['_id'] %>"
                                                                           name="download_id">
                                                                    <button class="waves-effect waves-light btn green"
                                                                            id="app_btn">Approve
                                                                        Request
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="collapsible-header red white-text"><i
                                                                    class="material-icons white-text">not_interested</i>Reject
                                                            Request
                                                        </div>

                                                        <!--Reject form-->
                                                        <div class="collapsible-body">
                                                            <form action="/download/reject" method="post"
                                                                  id="rejectForm" onsubmit="return rejectConfirm();">
                                                                <div class="row">
                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        Reason to Reject
                                                                    </div>
                                                                    <div class="col s12 contentbox_detail_value">
                                                                        <div class="row">
                                                                            <div class="col s12">
                                                                                <select name="reason" required>
                                                                                    <option value="">Select reason
                                                                                    </option>
                                                                                    <option value="Not appropriate">Not
                                                                                        appropriate
                                                                                    </option>
                                                                                    <option value="Already downloaded">
                                                                                        Already downloaded
                                                                                    </option>
                                                                                    <option value="Incorrect file">
                                                                                        Incorrect file
                                                                                    </option>
                                                                                    <option value="Other">Other</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="col s12 truncate contentbox_detail_field">
                                                                        Administrator Notes
                                                                    </div>
                                                                    <div class="col s12 truncate  contentbox_detail_value">
                                                                        <div class="col s12">
                                                                            <input type="hidden"
                                                                                   value="<%= data['_id'] %>"
                                                                                   name="download_id">
                                                                            <input placeholder="Notes ..."
                                                                                   id="rejectNote"
                                                                                   type="text" class="validate"
                                                                                   name="admin_note">
                                                                        </div>
                                                                    </div>
                                                                    <button class="waves-effect waves-light btn red">
                                                                        Reject
                                                                        Request
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% } %>

                            </ul>
                        </div>
                    </div>
                </div>

                <!--System setting Tab -->
                <div id="test5" class="col s12" style="padding-top: 15px;">

                    <!--dummy setting-->
                    <!--<div class="row settingrow">-->
                    <!--<div class="col s4 m3 l2 setting-title">Name</div>-->
                    <!--<div class="col s8 m9 l8">-->
                    <!--Functionality-->
                    <!--<div class="infotext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <%
                    var start = server['start'];
                    var end = server['end'];
                    %>
                    <!--System Peak Hours-->
                    <div class="row settingrow">
                        <div class="col s4 m3 l2 setting-title">System Peak Hours</div>
                        <div class="col s8 m9 l8">
                            <div class="input-field" style="max-width: 300px;display: inline-block;">
                                <select id="start_time" required>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="0"  <%= start === 0 ?'selected':'' %> >12:00 AM</option>
                                    <option value="1"  <%= start === 1 ?'selected':'' %>>1:00 AM</option>
                                    <option value="2"  <%= start === 2 ?'selected':'' %>>2:00 AM</option>
                                    <option value="3"  <%= start === 3 ?'selected':'' %>>3:00 AM</option>
                                    <option value="4"  <%= start === 4 ?'selected':'' %>>4:00 AM</option>
                                    <option value="5"  <%= start === 5 ?'selected':'' %>>5:00 AM</option>
                                    <option value="6"  <%= start === 6 ?'selected':'' %>>6:00 AM</option>
                                    <option value="7"  <%= start === 7 ?'selected':'' %>>7:00 AM</option>
                                    <option value="8"  <%= start === 8 ?'selected':'' %>>8:00 AM</option>
                                    <option value="9"  <%= start === 9 ?'selected':'' %>>9:00 AM</option>
                                    <option value="10" <%= start === 10?'selected':'' %>>10:00 AM</option>
                                    <option value="11" <%= start === 11?'selected':'' %>>11:00 AM</option>
                                    <option value="12" <%= start === 12?'selected':'' %>>12:00 PM</option>
                                    <option value="13" <%= start === 13?'selected':'' %>>1:00 PM</option>
                                    <option value="14" <%= start === 14?'selected':'' %>>2:00 PM</option>
                                    <option value="15" <%= start === 15?'selected':'' %>>3:00 PM</option>
                                    <option value="16" <%= start === 16?'selected':'' %>>4:00 PM</option>
                                    <option value="17" <%= start === 17?'selected':'' %>>5:00 PM</option>
                                    <option value="18" <%= start === 18?'selected':'' %>>6:00 PM</option>
                                    <option value="19" <%= start === 19?'selected':'' %>>7:00 PM</option>
                                    <option value="20" <%= start === 20?'selected':'' %>>8:00 PM</option>
                                    <option value="21" <%= start === 21?'selected':'' %>>9:00 PM</option>
                                    <option value="22" <%= start === 22?'selected':'' %>>10:00 PM</option>
                                    <option value="23" <%= start === 23?'selected':'' %>>11:00 PM</option>
                                </select>
                                <label>Start of Peak Hour</label>
                            </div>

                            <div style="margin: 15px;display: inline-block"></div>

                            <div class="input-field" style="max-width: 300px;display: inline-block;">
                                <select id="end_time" required>
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="0"  <%= end === 0 ?'selected':'' %> >12:00 AM</option>
                                    <option value="1"  <%= end === 1 ?'selected':'' %>>1:00 AM</option>
                                    <option value="2"  <%= end === 2 ?'selected':'' %>>2:00 AM</option>
                                    <option value="3"  <%= end === 3 ?'selected':'' %>>3:00 AM</option>
                                    <option value="4"  <%= end === 4 ?'selected':'' %>>4:00 AM</option>
                                    <option value="5"  <%= end === 5 ?'selected':'' %>>5:00 AM</option>
                                    <option value="6"  <%= end === 6 ?'selected':'' %>>6:00 AM</option>
                                    <option value="7"  <%= end === 7 ?'selected':'' %>>7:00 AM</option>
                                    <option value="8"  <%= end === 8 ?'selected':'' %>>8:00 AM</option>
                                    <option value="9"  <%= end === 9 ?'selected':'' %>>9:00 AM</option>
                                    <option value="10" <%= end === 10?'selected':'' %>>10:00 AM</option>
                                    <option value="11" <%= end === 11?'selected':'' %>>11:00 AM</option>
                                    <option value="12" <%= end === 12?'selected':'' %>>12:00 PM</option>
                                    <option value="13" <%= end === 13?'selected':'' %>>1:00 PM</option>
                                    <option value="14" <%= end === 14?'selected':'' %>>2:00 PM</option>
                                    <option value="15" <%= end === 15?'selected':'' %>>3:00 PM</option>
                                    <option value="16" <%= end === 16?'selected':'' %>>4:00 PM</option>
                                    <option value="17" <%= end === 17?'selected':'' %>>5:00 PM</option>
                                    <option value="18" <%= end === 18?'selected':'' %>>6:00 PM</option>
                                    <option value="19" <%= end === 19?'selected':'' %>>7:00 PM</option>
                                    <option value="20" <%= end === 20?'selected':'' %>>8:00 PM</option>
                                    <option value="21" <%= end === 21?'selected':'' %>>9:00 PM</option>
                                    <option value="22" <%= end === 22?'selected':'' %>>10:00 PM</option>
                                    <option value="23" <%= end === 23?'selected':'' %>>11:00 PM</option>
                                </select>
                                <label>End of Peak Hour</label>
                            </div>

                            <div class="infotext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>


                    <!--Job Scheduler-->
                    <div class="row settingrow">
                        <div class="col s4 m3 l2 setting-title">Job Scheduler</div>
                        <div class="col s8 m9 l8">
                            <select class="max450">
                                <option value="volvo">Default Scheduler</option>
                                <option value="saab">Round Robbin</option>
                                <option value="mercedes">Short Job First</option>
                                <option value="audi">Custom Scheduler</option>
                            </select>


                            <div class="infotext">Job scheduler is responsible for scheduling the downloads and  determining the order of downloads list. There are several scheduling methods available for the administrator to select. First in First Out, Last In First Out, Round Robin and Random are some of the scheduling methods the administrator can select. Depending on the situation, the administrator can select the best suited job scheduler for the system.</div>
                        </div>
                    </div>


                    <!--Maximum concurrent downloads-->
                    <div class="row settingrow">
                        <div class="col s4 m3 l2 setting-title">Max Downloads</div>
                        <div class="col s8 m9 l8">
                            <p class="range-field max450">
                                <input type="range" id="test5" min="2" max="20" />
                            </p>

                            <div class="infotext">Administrator can select maximum concurrent downloads according to the available Internet traffic and bandwidth. The recommended max concurrent downloads in peak hours is 2 and the recommended max download in off peak hours is 5 for the current bandwidth. If the size of the pending downloads is less, the administrator can increase the max downloads number to increase the downloads throughput of the system.</div>
                        </div>
                    </div>

                    <!--whitelist-->
                    <div class="row settingrow">
                        <div class="col s4 m3 l2 setting-title">Whitelisted Domains</div>
                        <div class="col s8 m9 l8">

                            <textarea class="max450"></textarea>
                            <div class="infotext">Administrator and batch representative is the responsible person for accepting download requests. But with the huge number of download requests those responsible persons will help less. For that kind of situations, the whitelisted domain concept will come in. Whitelisted domains are the domains which are having acceptable downloads. In here administrator can add whitelisted domain name and after adding this the download requests from that domain will accept automatically. Else when administrator accept five requests from same domain, that domain name will automatically add as a whitelisted domain.</div>

                        </div>
                    </div>

                    <!--blacklist-->
                    <div class="row settingrow">
                        <div class="col s4 m3 l2 setting-title">Blacklisted Domains</div>
                        <div class="col s8 m9 l8">


                            <textarea class="max450">
                                <% for(let i=0;i<BList.length;i++){
                                    let itm = BList[i];
                                %>
                                <%=itm.domain%>

                                <%}%>
                            </textarea>
                            <div class="infotext">Blacklisted domains are the domains which are having not acceptable download files. In here administrator can add blacklisted domain names. If administrator reject a download request, then that domain name of the download request will be added as blacklisted domain name.</div>
                        </div>
                    </div>


                    <div class="row left-align">

                        <div>
                            <button class="waves-effect waves-light btn" id="set_time">Save All</button>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>


<script>


    $('.button-collapse').sideNav({
            menuWidth: 250, // Default is 300
            edge: 'left', // Choose the horizontal origin
        }
    );

    $(document).ready(function () {
        $('ul.tabs').tabs();
        $('#approve_newtags').material_chip()
    });
    https://www.thinkbroadband.com/assets/images/download-files/iconDownload-5MB.png

        $('.chips').material_chip();

    //    Approve form
    $('#approveForm').submit(function () {
//        Get tag values
        let ar = $('#approve_newtags').material_chip('data');
        let new_array = [];
        for (let i = 0; i < ar.length; i++) {
            new_array.push(ar[i].tag);
        }
        $('#tag_values').val(new_array);

//        Get switch value
        let a = $('#availablity_switch').prop('checked');
        console.log(a);
        $('#availability').val(a);

    });

    //    Reject form
    let rejectConfirm = function () {

        x0p({
            title: "Confirm Reject",
            text: 'Reject Download Request.',
            icon: 'warning',
            type: 'warning',
            animationType: 'fadeIn',
            button: [
                {
                    type: 'warning',
                    text: 'Reject',
                    showLoading: true
                },
                {
                    type: 'cancel'
                }
            ]
        }, function (data) {
            if (data) {
                console.log(data);
                console.log(data === 'warning');
                if (data === 'warning') {
                    document.getElementById('rejectForm').submit();
                }
            }
        });
        return false;
    };

</script>


<script>
    var network_usage;
    var ram_usage;

    $('document').ready(function () {

        $.ajax({
            url: '/admin/server_time',
            method: 'get',
            dataType: 'json',
            success: function (data) {
                $('#start_time').val(data['start']);
                $('#end_time').val(data['end']);
            }
        });

        $('#set_time').click(function () {
            let start = $('#start_time').val();
            let end = $('#end_time').val();

            if (start === "" || end === "") {
                x0p('Error', 'Please select valid time range', 'error');
            } else {
                $.ajax({
                    url: '/admin/server',
                    dataType: 'json',
                    method: 'post',
                    data: {
                        start: start,
                        end: end,
                    },
                    success: function (res) {
                        if (res === true) {
                            x0p('Done', 'Server up time set.', 'ok');
                        } else {
                            x0p('Error', 'Server time set fail.', 'error');
                        }
                    }
                })
            }
        });


        var optionsNoAnimation = {
            animation: false,
            //Boolean - If we want to override with a hard coded scale
            scaleOverride: true,
            //** Required if scaleOverride is true **
            //Number - The number of steps in a hard coded scale
            scaleSteps: 20,
            //Number - The value jump in the hard coded scale
            scaleStepWidth: 10,
            //Number - The scale starting value
            scaleStartValue: 0
        }

        var network_usage_chart = $('#network_usage')[0].getContext('2d');
        network_usage = new Chart(network_usage_chart, {
            type: 'line',
            responsive: true,
            maintainAspectRatio: false,
            options: {
                title: {
                    display: true,
                    text: 'Last Thirty Minute Network Usage',
                    fontSize: 14,
                    position: 'bottom'
                },
                animation: false,
                scaleOverride: true,
                scaleSteps: 20,
                scaleStepWidth: 10,
                scaleStartValue: 10,
                pointRadius: 0,
                scales: {
                    yAxes: [
                        {
                            scaleLabel: {
                                display: true,
                                labelString: 'MBps'
                            }
                        }]
                }
            },
            data: {
                xLabels: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
                datasets: [
                    {
                        label: 'Upload',
                        borderColor: "rgba(0, 12, 240,0)",
                        borderWidth: 1,
                        backgroundColor: "rgba(255, 69, 0,1)",
                        radius: 0, // radius is 0 for only this dataset
                        fill: true
                    },
                    {
                        label: 'Download',
                        borderWidth: 1,
                        borderColor: "rgba(0, 0, 0,0)",
                        backgroundColor: "rgba(0, 207, 0,0.8)",
                        radius: 0 // radius is 0 for only this dataset
                    }]
            }
        });


        //SYSTEM LOAD GRAPH
        var system_load_chart = $('#system_load')[0].getContext('2d');
        ram_usage = new Chart(system_load_chart, {
            type: 'line',
            responsive: true,
            maintainAspectRatio: false,
            options: {
                title: {
                    display: true,
                    text: 'System Memory and CPU Usage',
                    fontSize: 14,
                    position: 'bottom',
                    max: 100
                },
                animation: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            max: 100,
                            min: 0,
                            stepSize: 10
                        }
                    }]
                }
            },
            data: {
                labels: ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
                datasets: [
                    {
                        label: 'Memory Usage',
                        data: [],
                        borderColor: "rgba(255, 87, 34,1)",
                        backgroundColor: "rgba(255, 87, 34,0.4)",
                        radius: 1,
                        hoverRadius: 5,
                        fill: false
                    },
                    {
                        label: 'CPU Load',
                        data: [],
                        borderColor: "rgba(0, 127, 255,1)",
                        backgroundColor: "rgba(85, 170, 255,0.8)",
                        radius: 1,
                        hoverRadius: 5,
                        borderWidth: 1,
                        fill: true
                    }]
            }
        });

    });


</script>

<!--SOCKECT SCRIPTS-->
<script>
    socket.on('stat_net_network', function (msg) {
        //console.log(msg);
        network_usage.data.datasets[1].data = msg[0]['array'];
        network_usage.data.datasets[0].data = msg[1]['array'];
        network_usage.update();
    });

    socket.on('system_memory_usage', function (msg) {
        //console.log(msg);
        ram_usage.data.datasets[0].data = msg[0]['array'];
        ram_usage.data.datasets[1].data = msg[1]['array'];
        ram_usage.update();
    });

    //user_connect
    socket.on('user_connect', function (msg) {
        //console.log(msg);
        var person = JSON.parse(msg);
        console.log("GG");
        document.getElementById("onlineusers").innerHTML += '<div class="chip" id="' + person.name + '">' + person.uname + '</div>'

    });
</script>


</body>
</html>
