<!DOCTYPE html lang="en" >
<head>

    <% include includes/head.ejs %>

</head>
<body>

<div class="row">

    <!--side menu-->
    <% include includes/main_nav.ejs %>

    <!--main content-->
    <div class="main_content">

        <div class="toppanel z-depth-1">
            <div class="col s4">
                <a href="#" id="sidemenu_toggle" data-activates="slide-out" class="button-collapse">
                    <i class="medium material-icons" style="cursor: pointer;color: #212121;">reorder</i>
                </a>

            </div>
            <div class="col s4">
                <div class="row" style="text-align: center">
                    <img src="/public/images/logo_small.png"
                         style="width: auto;height: 50px;max-width: 160px;max-height: 93px;margin: 5px;" class="s12">
                </div>
            </div>
            <div class="col s4 right-align">

            </div>
        </div>


        <div class="row main_container">

            <!--Show flash massages-->
            <% if(message != ''){ %>
            <div class="alert-success col l12">
                <p><%= message %> </p>
            </div>
            <% } %>
            <div class="row">

                <div class="row col l12 m12 s12">
                    <!--Pending download status-->
                    <div class="col s6 m3 l3 contentbox_mainbox">
                        <div class="col s12 m12 l12 truncate contentbox_txt_up blue-grey-text lighten-2">Pending
                            Downloads
                        </div>
                        <div class="col s12 m12 l12 truncate contentbox_main blue-grey-text"><%= pending.length || 0 %></div>
                        <div class="col s12 m12 l12 truncate contentbox_txt_down  blue-grey-text lighten-2"><%= inprogress.length || 0 %>
                            Active (
                            0.00 GB )
                        </div>
                    </div>

                    <!--Monthly usage status-->
                    <div class="col s6 m3 l3 contentbox_mainbox">
                        <div class="col s12 m12 l12 truncate contentbox_txt_up blue-grey-text lighten-2">Monthly Usage
                        </div>
                        <div class="col s12 m12 l12 truncate contentbox_main blue-grey-text">00.00 GB</div>
                        <div class="col s12 m12 l12 truncate contentbox_txt_down  blue-grey-text lighten-2">6
                            Downloads
                        </div>
                    </div>

                    <!--User available disk space status-->
                    <div class="col s6 m3 l3 contentbox_mainbox">
                        <div class="col s12 m12 l12 truncate contentbox_txt_up blue-grey-text lighten-2">Disk Space
                        </div>
                        <div class="col s12 m12 l12 truncate contentbox_main blue-grey-text">00.00 GB</div>
                        <div class="col s12 m12 l12 truncate contentbox_txt_down  blue-grey-text lighten-2">4.1 GB of
                            20.0 GB used
                        </div>
                        <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                            <div class="progress">
                                <div class="determinate" style="width: 30%"></div>
                            </div>
                        </div>
                    </div>

                    <!--Download manager up time status-->
                    <div class="col s6 m3 l3 contentbox_mainbox">
                        <div class="col s12 m12 l12 truncate contentbox_txt_up blue-grey-text lighten-2">Download
                            Manager
                        </div>

                        <%
                        var now = new Date();
                        if(now.getHours() >= 6 && now.getHours() < 18 ){
                        %>

                        <div class="col s12 m12 l12 truncate contentbox_main deep-orange-text accent-3">Offline</div>
                        <% var due = new Date()

                            var rh = 18 - due.getHours() - 1;
                            var rm = 60 - due.getMinutes();
                        %>
                        <div class="col s12 m12 l12 truncate contentbox_txt_down  blue-grey-text lighten-2">Going online
                            in <%= rh %>h
                            <%= rm %>mins
                        </div>
                        <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                            <div class="progress deep-orange  lighten-4">
                                <div class="determinate deep-orange"
                                     style="width: <%= (1 - ((rh * 60 + rm) / (12 * 60))) * 100 %>%"></div>
                            </div>
                        </div>

                        <% }else{ %>
                        <% var due = new Date()

                            var rh;
                            if (due.getHours() >= 18) {
                                let plus = 24 - due.getHours();
                                rh = 6 + plus - 1;
                            } else {
                                rh = 6 - due.getHours() - 1;
                            }
                            var rm = 60 - due.getMinutes();
                        %>
                        <div class="col s12 m12 l12 truncate contentbox_main green-text accent-3">Online</div>
                        <div class="col s12 m12 l12 truncate contentbox_txt_down  blue-grey-text lighten-2">Going
                            offline
                            in <%= rh %>h
                            <%= rm %>mins
                        </div>
                        <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                            <div class="progress green  lighten-4">
                                <div class="determinate green"
                                     style="width: <%= (1 - ((rh * 60 + rm) / (12 * 60))) * 100 %>%"></div>
                            </div>
                        </div>
                        <% } %>

                    </div>
                </div>

                <!--Download link div-->
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col l9 m9 s9">
                            <input type="text" id="down_link" class="validate">
                            <label for="down_link">Download link</label>
                        </div>
                        <div class="input-field col l3 m3 s3">
                            <button class="waves-effect waves-light btn" id="down_link_btn">Download</button>
                        </div>
                    </div>
                </div>

                <!--Navigation bar-->
                <div class="col s12">
                    <ul class="tabs">
                        <!--<li class="tab"><a class="red-text darken-4" href="#test1">All Downloads</a></li>-->
                        <!-- <li class="tab"><a class="red-text darken-4" href="#test3">Sheduled Downloads</a></li> -->
                        <li class="tab"><a class="red-text darken-4" href="#test2">Downloads in progress</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test3">Pendding downloads</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test4">Rejected downloads</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test5">Recent public downloads</a></li>
                    </ul>
                </div>

                <!--All downloads -->
                <!--<div id="test1" class="col l12 m12 s12">-->
                <!--<div class="row">-->
                <!--<ul class="collapsible" data-collapsible="accordion">-->
                <!--<li>-->
                <!--<div class="collapsible-header"><span class="new badge light-green accent-3 black-text"-->
                <!--data-badge-caption="Downloading 32%"></span><i-->
                <!--class="material-icons">library_books</i>Ubuntu 16.04 ISO Image-->
                <!--</div>-->
                <!--<div class="collapsible-body">-->
                <!--<div class="row">-->
                <!--<div class="col s12 l4 contentbox">-->
                <!--<div class="col s12 contentbox_txt_up">Status</div>-->
                <!--<div class="col s12 contentbox_main">34%</div>-->
                <!--<div class="col s12 contentbox_txt_down">Downloaded</div>-->
                <!--</div>-->
                <!--<div class="col s12 l4 contentbox">-->
                <!--<div class="col s12 contentbox_txt_up">Speed</div>-->
                <!--<div class="col s12 contentbox_main">974.58 Kbps</div>-->
                <!--<div class="col s12 contentbox_txt_down">Max 4.2Mbps | Avg 955.75Kbps</div>-->
                <!--</div>-->
                <!--<div class="col s12 l4 contentbox">-->
                <!--<div class="col s12 contentbox_txt_up">Estimated Time</div>-->
                <!--<div class="col s12 contentbox_main">3h 52 mins</div>-->
                <!--<div class="col s12 contentbox_txt_down">Total time 1h 21mins</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col s12 l4">-->
                <!--<canvas id="myChart"></canvas>-->
                <!--</div>-->
                <!--<div class="col s12 l8">-->
                <!--<div class="row">-->
                <!--<div class="col s12">-->
                <!--<h5>Download Details</h5>-->
                <!--</div>-->
                <!--<div class="col s12 l2 contentbox_detail_field">Download Link</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">-->
                <!--https://www.google.lk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=materialize+css+input+color&*-->
                <!--</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Requested Date</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">Sunday-->
                <!--2017/03/05 11:26:36 PM-->
                <!--</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Approved Date</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">Sunday-->
                <!--2017/03/05 11:26:36 PM-->
                <!--</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Approved By</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">Sulochana-->
                <!--Kodituwakku-->
                <!--</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Started Date</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">Sunday-->
                <!--2017/03/05 11:26:36 PM-->
                <!--</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">MD5</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">-->
                <!--056f32ee5cf49404607e368bd8d3f2af-->
                <!--</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Availability</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">Public</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Administrator Notes-->
                <!--</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Description</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Tags</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">-->
                <!--<div class="chip">-->
                <!--ubuntu-->
                <!--</div>-->
                <!--<div class="chip">-->
                <!--linux-->
                <!--</div>-->
                <!--<div class="chip">-->
                <!--foss-->
                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col s12 right-align">-->
                <!--<a class="waves-effect waves-light btn green white-text"><i-->
                <!--class="material-icons left">play_arrow</i>Resume</a>-->
                <!--<a class="waves-effect waves-light btn yellow black-text"><i-->
                <!--class="material-icons left ">pause</i>Pause</a>-->
                <!--<a class="waves-effect waves-light btn red white-text"><i-->
                <!--class="material-icons left">not_interested</i>Cancel</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->


                <!--</div>-->

                <!--</div>-->
                <!--</li>-->

                <!--<li>-->
                <!--<div class="collapsible-header"><span class="new badge  yellow accent-3 black-text"-->
                <!--data-badge-caption="Approval Pending"></span><i-->
                <!--class="material-icons">place</i>Mint ISO Image-->
                <!--</div>-->
                <!--<div class="collapsible-body">-->
                <!--<div class="row">-->
                <!--<div class="col s12 l4 contentbox">-->
                <!--<div class="col s12 contentbox_txt_up">Status</div>-->
                <!--<div class="col s12 contentbox_main amber-text accent-4">Approval Pending-->
                <!--</div>-->
                <!--<div class="col s12 contentbox_txt_down">3h 53mins</div>-->
                <!--</div>-->
                <!--<div class="col s12 l4 contentbox">-->
                <!--<div class="col s12 contentbox_txt_up">File Size</div>-->
                <!--<div class="col s12 contentbox_main">999.99 kB</div>-->
                <!--<div class="col s12 contentbox_txt_down">Avg Speed 255.75Kbps</div>-->
                <!--</div>-->
                <!--<div class="col s12 l4 contentbox">-->
                <!--<div class="col s12 contentbox_txt_up">Estimated Time</div>-->
                <!--<div class="col s12 contentbox_main">3h 52 mins</div>-->
                <!--<div class="col s12 contentbox_txt_down">To complete download</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col s12">-->
                <!--<h5>Download Details</h5>-->
                <!--</div>-->
                <!--<div class="col s12 l2 contentbox_detail_field">Download Link</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">-->
                <!--https://www.google.lk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=materialize+css+input+color&*-->
                <!--</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Requested Date</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">Sunday 2017/03/05-->
                <!--11:26:36 PM-->
                <!--</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">MD5</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">-->
                <!--056f32ee5cf49404607e368bd8d3f2af-->
                <!--</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Availability</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">Public</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Description</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">GG WP</div>-->

                <!--<div class="col s12 l2 contentbox_detail_field">Tags</div>-->
                <!--<div class="col s12 l10 truncate  contentbox_detail_value">-->
                <!--<div class="chip">-->
                <!--ubuntu-->
                <!--</div>-->
                <!--<div class="chip">-->
                <!--linux-->
                <!--</div>-->
                <!--<div class="chip">-->
                <!--foss-->
                <!--</div>-->
                <!--</div>-->


                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col s12 right-align">-->
                <!--<a class="waves-effect waves-light btn red white-text"><i-->
                <!--class="material-icons left">not_interested</i>Cancel</a>-->
                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--</li>-->

                <!--<li>-->
                <!--<div class="collapsible-header"><span class="new badge  red darken-1 white-text"-->
                <!--data-badge-caption="Rejected"></span><i-->
                <!--class="material-icons">filter_drama</i>Batman vs. Superman-->
                <!--</div>-->
                <!--<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>-->
                <!--</li>-->

                <!--<li>-->
                <!--<div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>-->
                <!--<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->

                <!--Download in progress div-->
                <div id="test2" class="col l12 m12 s12">
                    <div class="row">

                        <ul class="collapsible" data-collapsible="accordion">
                            <%
                            if(inprogress){
                            for(let i = 0; i < inprogress.length;i++){
                                let data = inprogress[i];
                            %>
                            <li>
                                <div class="collapsible-header"><span class="new badge light-green accent-3 black-text"
                                                                      data-badge-caption="Downloading 32%"></span><i
                                            class="material-icons">library_books</i><%= data['link'] %>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Status</div>
                                            <div class="col s12 contentbox_main">34%</div>
                                            <div class="col s12 contentbox_txt_down">Downloaded</div>
                                        </div>
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Speed</div>
                                            <div class="col s12 contentbox_main">974.58 Kbps</div>
                                            <div class="col s12 contentbox_txt_down">Max 4.2Mbps | Avg 955.75Kbps</div>
                                        </div>
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Estimated Time</div>
                                            <div class="col s12 contentbox_main">3h 52 mins</div>
                                            <div class="col s12 contentbox_txt_down">Total time 1h 21mins</div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col s12 l4">
                                            <canvas id="myChart"></canvas>
                                        </div>
                                        <div class="col s12 l8">
                                            <div class="row">
                                                <div class="col s12">
                                                    <h5>Download Details</h5>
                                                </div>
                                                <div class="col s12 l2 contentbox_detail_field">Download Link</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%= data['link'] %>
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Requested Date</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <% let rdata = new Date(data['request_date']); %>
                                                    <%= rdata.toDateString() %>
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Approved Date</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <% let adata = new Date(data['admin_decision_date']); %>
                                                    <%= adata.toDateString() %>
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Approved By</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%= data['admin'] %>
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Started Date</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">Sunday
                                                    2017/03/05 11:26:36 PM
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">MD5</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    056f32ee5cf49404607e368bd8d3f2af
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Availability</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['availability'] %></div>

                                                <div class="col s12 l2 contentbox_detail_field">Administrator Notes
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['admin_note'] || 'None' %></div>

                                                <div class="col s12 l2 contentbox_detail_field">Description</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['description'] %></div>

                                                <div class="col s12 l2 contentbox_detail_field">Tags</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%
                                                        let tags = data['tags'];
                                                    if(tags != ''){
                                                    for(let i = 0; i < tags.length;i++){ %>
                                                    <div class="chip">
                                                        <%= tags[i] %>
                                                    </div>
                                                    <% }
                                                    } %>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col s12 right-align">
                                                    <a class="waves-effect waves-light btn green white-text"><i
                                                                class="material-icons left">play_arrow</i>Resume</a>
                                                    <a class="waves-effect waves-light btn yellow black-text"><i
                                                                class="material-icons left ">pause</i>Pause</a>
                                                    <a class="waves-effect waves-light btn red white-text"><i
                                                                class="material-icons left">not_interested</i>Cancel</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </li>
                            <% }
                            } %>
                        </ul>


                    </div>
                </div>

                <!--pending downloads-->
                <div id="test3" class="col l12 m12 s12">
                    <div class="row">


                        <ul class="collapsible" data-collapsible="accordion">
                            <%
                            if(pending){
                            for(let i = 0; i < pending.length;i++){
                                let data = pending[i];
                            %>

                            <li>
                                <div class="collapsible-header">
                                    <span class="new badge  yellow accent-3 black-text"
                                          data-badge-caption="Approval Pending"></span>
                                    <i class="material-icons">place</i>
                                    <%= data['link'] %>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Status</div>
                                            <div class="col s12 contentbox_main amber-text accent-4">Approval Pending
                                            </div>
                                            <div class="col s12 contentbox_txt_down">3h 53mins</div>
                                        </div>
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">File Size</div>
                                            <div class="col s12 contentbox_main">999.99 kB</div>
                                            <div class="col s12 contentbox_txt_down">Avg Speed 255.75Kbps</div>
                                        </div>
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Estimated Time</div>
                                            <div class="col s12 contentbox_main">3h 52 mins</div>
                                            <div class="col s12 contentbox_txt_down">To complete download</div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <h5>Download Details</h5>
                                        </div>
                                        <div class="col s12 l2 contentbox_detail_field">Download Link</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%= data['link'] %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Requested Date</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <% let rdata = new Date(data['request_date']); %>
                                            <%= rdata.toDateString() %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">MD5</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            056f32ee5cf49404607e368bd8d3f2af
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Availability</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['availability'] || 'Not set' %></div>

                                        <div class="col s12 l2 contentbox_detail_field">Description</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['description'] || 'none' %></div>

                                        <div class="col s12 l2 contentbox_detail_field">Tags</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%
                                                var tags = data['tags'];
                                            if(tags != ''){
                                            for(let i = 0; i < tags.length;i++){ %>
                                            <div class="chip">
                                                <%= tags[i] %>
                                            </div>
                                            <% }
                                            } %>

                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col s12 right-align">
                                            <a class="waves-effect waves-light btn red white-text"><i
                                                        class="material-icons left">not_interested</i>Cancel</a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <%
                            }
                            } %>
                        </ul>
                    </div>
                </div>

                <!--Rejected download-->
                <div id="test4" class="col l12 m12 s12">
                    <div class="row">
                        <ul class="collapsible" data-collapsible="accordion">

                            <%
                            if(rejected){
                            for(let i = 0; i < rejected.length;i++){
                                let data = rejected[i];
                            %>

                            <li>
                                <div class="collapsible-header"><span class="new badge  red darken-1 white-text"
                                                                      data-badge-caption="Rejected"></span><i
                                            class="material-icons">filter_drama</i> <%= data['link'] %>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Status</div>
                                            <div class="col s12 contentbox_main red-text accent-4">Rejected</div>
                                            <div class="col s12 contentbox_txt_down">By <%= data['admin'] %></div>
                                        </div>
                                        <div class="col s12 l8 contentbox">
                                            <div class="col s12 contentbox_reject_title truncate">This File is
                                                <%= data['reject_note'] %>.
                                            </div>
                                            <div class="col s12 contentbox_txt_down"><%= data['admin_note'] %>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <span class="subsection_title_sub no_padding">Download Details</span>
                                        </div>
                                        <div class="col s12 l2 contentbox_detail_field">Download Link</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%= data['link'] %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Requested Date</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['request_date'].toDateString() %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Rejected Date</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%= data['admin_decision_date'].toDateString() %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Rejection Reason</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%= data['reject_note'] %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">MD5</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            056f32ee5cf49404607e368bd8d3f2af
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Availability</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['availability'] || 'Not set' %>  </div>

                                        <div class="col s12 l2 contentbox_detail_field">Description</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['description'] || 'None' %></div>

                                        <div class="col s12 l2 contentbox_detail_field">Tags</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%
                                                var tags = data['tags'];
                                            if(tags != ''){
                                            for(let i = 0; i < tags.length;i++){ %>
                                            <div class="chip">
                                                <%= tags[i] %>
                                            </div>
                                            <% }
                                            } %>
                                            s
                                        </div>


                                    </div>
                                    <!--<div class="row">-->
                                    <!--<div class="col s12 right-align">-->
                                    <!--<a class="waves-effect waves-light btn blue white-text"><i-->
                                    <!--class="material-icons left">not_interested</i>Dismiss</a>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </li>
                            <%
                            }
                            } %>

                        </ul>
                    </div>
                </div>

                <!--Recent public downlaod-->
                <div id="test5" class="col l12 m12 s12">
                    <div class="row">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Download URL info Modal -->
<div id="url_info" class="modal modal-fixed-footer">
    <form action="/download/request" method="post" id="url_info_form">
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s10 l10 m10">
                    <input placeholder="URL" id="url" type="text" class="validate" disabled>
                    <label for="url">URL</label>
                </div>

                <div class="input-field col s10 l10 m10">
                    <div class="chips" id="url_tags"></div>
                    <label for="url_tags">Tags</label>
                </div>

                <div class="input-field col s10 l10 m10">
                    <input placeholder="Description" id="url_desc" type="text" class="validate" name="description">
                    <label for="url_desc">Description</label>
                </div>

                <div class="col s10 l10 m10">
                    <label>Availability</label>
                </div>
                <div class="col s10 l12 m10">
                    <div class="switch">
                        <label>
                            Private
                            <input type="checkbox"
                                   id="url_availablity_switch">
                            <span class="lever"></span>
                            Public
                        </label>
                    </div>
                </div>

                <input type="hidden" id="url_hi" name="link">
                <input type="hidden" id="availability"
                       name="availability">
                <input type="hidden" id="tag_values"
                       name="tags">

            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="waves-effect modal-action waves-green btn-flat" id="url_send_btn">
                Send
            </button>
            <button type="reset" class="modal-action modal-close waves-effect waves-red btn-flat">
                Cancel
            </button>
        </div>
    </form>
</div>

<!--Import footer part-->
<% include includes/foot.ejs %>

<script>

    $('.button-collapse').sideNav({
            menuWidth: 250, // Default is 300
            edge: 'left', // Choose the horizontal origin
        }
    );

</script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        responsive: true,
        maintainAspectRatio: false,
        data: {
            labels: ['10', '20', '30', '40', '50', '60', '70', '80', '90'],
            datasets: [{
                label: 'Download Speed',
                data: [900, 1024, 500, 247, 304, 125, 420],
                backgroundColor: "rgba(5, 176, 36,0.8)"
            }]
        }
    });
</script>

<script type="text/javascript" src="../public/javascript/dashboard.js"></script>

</body>
</html>
