<!DOCTYPE html lang="en" >
<head>

    <% include includes/head.ejs %>

</head>
<body>
<!--AJAX Loader HTML Content-->
<!-- Modal Structure -->
<div id="ajaxloader" class="modal ajaxbox">
    <div style="text-align: center;">
        <div class="ajaxbox_title" id="ajaxbox_title">
            Waiting for Server
        </div>
        <div class="ajaxbox_desc" id="ajaxbox_desc" ></div>

    </div>
    <div class="progress blue lighten-3">
        <div class="indeterminate  blue darken-2"></div>
    </div>
    <div class="modal-content" style="padding-top: 0px;">

        <div style="text-align: center;">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat  blue darken-2 white-text">Send to Background</a>
        </div>

    </div>
</div>
<% if(message != ''){ %>
<div id="startupnotice" class="modal" style="width: 500px">
    <div class="modal-content">
        <p><%= message %> </p>
    </div>
    <div class="modal-footer" style="width: auto;">
        <a href="#!" class="modal-action modal-close waves-light btn" style="margin: 10px;">Okay</a>
    </div>
</div>

<script>
    call_on_load.push("readyinfomodal");
    function readyinfomodal() {
        $('.modal').modal();
        $('#startupnotice').modal('open');
    }
</script>
<% } %>


<!-- Download URL info Modal -->
<div id="url_info" class="modal">
    <form action="/download/request" method="post" id="url_info_form" style="margin: 0;">
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="URL" id="url" type="text" class="validate deep-orange-text accent-3" disabled>
                    <label for="url">URL</label>
                </div>

                <div class="input-field col s12">
                    <div class="chips black-text" id="url_tags"></div>
                    <label for="url_tags">Tags</label>
                    <div class="infotext">Provide <b>tags</b> to help the administrators and other memebers (if public) to identify the downloading file. for an example if you are downloading a Ubuntu ISO image you can include tags like linux, ubuntu16, 64bit, os. Separate the tags using the <b>ENTER</b> key</div>
                </div>

                <div class="input-field col s12">
                    <input  id="url_desc" type="text" class="validate" name="description">
                    <label for="url_desc" >Description</label>
                </div>


                <div class="col s3">
                    <div class="col s12 contentbox_txt_up">Availability</div>
                    <br>
                    <div class="switch">
                        <label>
                            Private
                            <input type="checkbox"
                                   id="url_availablity_switch">
                            <span class="lever"></span>
                            Public
                        </label>
                    </div>
                </div>

                <div class="col s3">
                    <div class="col s12 contentbox_txt_up">File Size</div>
                    <div class="col s12 contentbox_main" id="file_size"></div>
                </div>

                <div class="col s3">
                    <div class="col s12 contentbox_txt_up">Automatic Confirmation</div>
                    <div class="col s12 contentbox_main" id="file_size">Unavailable</div>
                </div>

                <div class="col s3">
                    <div class="col s12 contentbox_txt_up">Default Priority</div>
                    <div class="col s12 contentbox_main" id="file_size">Normal</div>
                </div>

                <input type="hidden" id="url_hi" name="link">
                <input type="hidden" id="availability"
                       name="availability">
                <input type="hidden" id="tag_values"
                       name="tags">
                <input type="hidden" id="fsize" name="size">

            </div>
            <div class="infotext"><b>IMPORTANT NOTE :</b><br> By clicking Confirm Request, you confirm that you have read and agree our Terms and Usage Policy. Breaking the system's Terms or Usage policies will lead up to account termination without prior warning.</div>
        </div>

        <div class="modal-footer" style="width: auto;margin-right: 10px;">
            <button type="submit" class="waves-effect modal-action waves-green btn" id="url_send_btn">
                Confirm Request
                <i class="material-icons right">send</i>
            </button>
            <button type="reset" class="modal-action modal-close waves-effect waves-red btn-flat">
                Cancel
            </button>
        </div>
    </form>
</div>



<div class="row">


    <!--side menu-->
    <% include includes/main_nav.ejs %>

    <!--main content-->
    <div class="main_content">

        <div class="toppanel z-depth-1">
            <div class="col s4">
                <a href="#" id="sidemenu_toggle" data-activates="slide-out" class="button-collapse">
                    <i class="medium material-icons" style="cursor: pointer;color: #212121;">reorder</i>
                </a>

            </div>
            <div class="col s4">
                <div class="row" style="text-align: center">
                    <img src="/public/images/logo_small.png"
                         style="width: auto;height: 50px;max-width: 160px;max-height: 93px;margin: 5px;" class="s12">
                </div>
            </div>
            <div class="col s4 right-align">

            </div>
        </div>


        <div class="row main_container">

            <div class="row">

                <div class="row col l12 m12 s12">
                    <!--Pending download status-->
                    <div class="col s6 m3 l3 contentbox_mainbox">
                        <div class="col s12 m12 l12 truncate contentbox_txt_up blue-grey-text lighten-2">Pending
                            Downloads
                        </div>
                        <div class="col s12 m12 l12 truncate contentbox_main blue-grey-text"><%= pending.length || 0 %></div>
                        <div class="col s12 m12 l12 truncate contentbox_txt_down  blue-grey-text lighten-2"><%= inprogress.length || 0 %>
                            Active (
                            0.00 GB )
                        </div>
                        <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                            <div class="progress">
                                <div class="determinate" style="width: 0%"></div>
                            </div>
                        </div>
                    </div>

                    <!--Monthly usage status-->
                    <div class="col s6 m3 l3 contentbox_mainbox">
                        <div class="col s12 m12 l12 truncate contentbox_txt_up blue-grey-text lighten-2">Monthly Usage
                        </div>
                        <div class="col s12 m12 l12 truncate contentbox_main blue-grey-text">00.00 GB</div>
                        <div class="col s12 m12 l12 truncate contentbox_txt_down  blue-grey-text lighten-2">6
                            Downloads
                        </div>
                        <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                            <div class="progress">
                                <div class="determinate" style="width: 0%"></div>
                            </div>
                        </div>
                    </div>

                    <!--User available disk space status-->
                    <div class="col s6 m3 l3 contentbox_mainbox">
                        <div class="col s12 m12 l12 truncate contentbox_txt_up blue-grey-text lighten-2">Disk Space
                        </div>
                        <div class="col s12 m12 l12 truncate contentbox_main blue-grey-text" id="storage_used">Unknown</div>
                        <div class="col s12 m12 l12 truncate contentbox_txt_down  blue-grey-text lighten-2" id="storage_total">Unknown</div>
                        <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                            <div class="progress">
                                <div class="determinate" style="width: 0%" id="storage_progress"></div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var storage_used = document.getElementById('storage_used');
                        var storage_total = document.getElementById('storage_total');
                        var storage_progress = document.getElementById('storage_progress');
                        socket.on('user_storage_usage', function(msg){
                            var obj = JSON.parse(msg);
                            console.log(msg);
                            storage_used.innerHTML = obj.used + " " + obj.usedUnit;
                            storage_total.innerHTML = obj.used + " " + obj.usedUnit + " of " + obj.allocated + " " + obj.allocatedUnit;
                            storage_progress.style.width = obj.progress+"%";
                        });

                    </script>

                    <!--Download manager up time status-->
                    <div class="col s4 m3 contentbox_mainbox">
                        <div class="col s12 truncate contentbox_txt_up blue-grey-text lighten-2">Download Manager</div>
                        <div class="col s12 truncate contentbox_main deep-orange-text accent-3" id="online_status_code">Unknown</div>
                        <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2" id="online_status_eta">Unknown</div>
                        <div class="col s12 truncate contentbox_txt_down  blue-grey-text lighten-2">
                            <div class="progress deep-orange  lighten-4" id="online_status_progress_outer">
                                <div class="determinate deep-orange" style="width: 20%" id="online_status_progress"></div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var online_status_code = document.getElementById('online_status_code');
                        var online_status_eta = document.getElementById('online_status_eta');
                        var online_status_progress = document.getElementById('online_status_progress');
                        var online_status_progress_outer = document.getElementById('online_status_progress_outer');
                        socket.on('online_status_info', function(msg){
                            var obj = JSON.parse(msg);
                            online_status_code.innerHTML = obj.status;
                            online_status_eta.innerHTML = obj.eta;
                            online_status_progress.style.width = obj.precent+"%";

                            if (obj.status == "Online"){
                                online_status_code.classList.add('teal-text');
                                online_status_code.classList.add('lighten-2');
                                online_status_code.classList.remove('deep-orange-text');
                                online_status_code.classList.remove('accent-3');

                                online_status_progress.classList.remove('deep-orange');
                                online_status_progress_outer.classList.remove('deep-orange');
                                online_status_progress_outer.classList.remove('lighten-4');
                            }else{
                                online_status_code.classList.remove('teal-text');
                                online_status_code.classList.remove('lighten-2');
                                online_status_code.classList.add('deep-orange-text');
                                online_status_code.classList.add('accent-3');

                                online_status_progress.classList.add('deep-orange');
                                online_status_progress_outer.classList.add('deep-orange');
                                online_status_progress_outer.classList.add('lighten-4');
                            }
                        });

                    </script>
                </div>

                <!--Download link div-->
                <ul class="collection">
                    <li class="collection-item">
                        <div class="col s12">
                            <h5>New Download Request</h5>
                            <div class="infotext">This system is only capable of downloading files using DDLs (Direct Download Links) and if you provide a link other than a direct download link or a link with temporary link availability/validity the system may not be able to complete your download request.</div>
                            <div class="row">
                                <div class="input-field">
                                    <input type="text" id="down_link" class="validate" value="http://ipv4.download.thinkbroadband.com/10MB.zip">
                                    <label for="down_link">Direct Download link</label>
                                </div>
                                <div class="right-align">
                                    <button class="waves-effect waves-light btn" id="down_link_btn">Request</button>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>




                <!--Navigation bar-->
                <div class="col s12">
                    <ul class="tabs">
                        <!--<li class="tab"><a class="red-text darken-4" href="#test1">All Downloads</a></li>-->
                        <!-- <li class="tab"><a class="red-text darken-4" href="#test3">Sheduled Downloads</a></li> -->
                        <li class="tab"><a class="red-text darken-4" href="#test2">Downloads in progress</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test3">Approval Pending</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test4">Rejected downloads</a></li>
                        <li class="tab"><a class="red-text darken-4" href="#test5">Recent public downloads</a></li>
                    </ul>
                </div>


                <!--Download in progress div-->
                <div id="test2" class="col l12 m12 s12">
                    <div class="row">

                        <%
                           if(inprogress.length > 0){
                        %>
                        <ul class="collapsible" data-collapsible="accordion">
                            <%
                            for(let i = 0; i < inprogress.length;i++){
                                let data = inprogress[i];
                            %>
                            <li>
                                <div class="collapsible-header"><!--<span class="new badge light-green accent-3 black-text"
                                                                      data-badge-caption="Downloading 32%"></span>--><i
                                            class="material-icons">library_books</i><%= data['link'] %>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Status</div>
                                            <div class="col s12 contentbox_main">34%</div>
                                            <div class="col s12 contentbox_txt_down">Downloaded</div>
                                        </div>
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Speed</div>
                                            <div class="col s12 contentbox_main">974.58 Kbps</div>
                                            <div class="col s12 contentbox_txt_down">Max 4.2Mbps | Avg 955.75Kbps</div>
                                        </div>
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Estimated Time</div>
                                            <div class="col s12 contentbox_main">3h 52 mins</div>
                                            <div class="col s12 contentbox_txt_down">Total time 1h 21mins</div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col s12 l4">
                                            <canvas id="myChart"></canvas>
                                        </div>
                                        <div class="col s12 l8">
                                            <div class="row">
                                                <div class="col s12">
                                                    <h5>Download Details</h5>
                                                </div>
                                                <div class="col s12 l2 contentbox_detail_field">Download Link</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%= data['link'] %>
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Requested Date</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <% let rdata = new Date(data['request_date']); %>
                                                    <%= rdata.toDateString() %>
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Approved Date</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <% let adata = new Date(data['admin_decision_date']); %>
                                                    <%= adata.toDateString() %>
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Approved By</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%= data['admin'] %>
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Started Date</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">Sunday
                                                    2017/03/05 11:26:36 PM
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">MD5</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">n/a
                                                </div>

                                                <div class="col s12 l2 contentbox_detail_field">Availability</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['availability'] %></div>

                                                <div class="col s12 l2 contentbox_detail_field">Administrator Notes
                                                </div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['admin_note'] || 'None' %></div>

                                                <div class="col s12 l2 contentbox_detail_field">Description</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['description'] %></div>

                                                <div class="col s12 l2 contentbox_detail_field">Tags</div>
                                                <div class="col s12 l10 truncate  contentbox_detail_value">
                                                    <%
                                                        let tags = data['tags'];
                                                    if(tags != ''){
                                                    for(let i = 0; i < tags.length;i++){ %>
                                                    <div class="chip">
                                                        <%= tags[i] %>
                                                    </div>
                                                    <% }
                                                    } %>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col s12 right-align">
                                                    <!--<a class="waves-effect waves-light btn green white-text"><i-->
                                                                <!--class="material-icons left">play_arrow</i>Resume</a>-->
                                                    <!--<a class="waves-effect waves-light btn yellow black-text"><i-->
                                                                <!--class="material-icons left ">pause</i>Pause</a>-->
                                                    <a class="waves-effect waves-light btn red white-text"><i
                                                                class="material-icons left">not_interested</i>Cancel</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </li>
                            <% }
                            %>
                        </ul>
                            <%
                            } else{%>

                            <div class="no-content">
                                No ongoing downloads in progress.

                            </div>
                            <%}%>



                    </div>
                </div>

                <!--pending downloads-->
                <div id="test3" class="col l12 m12 s12">
                    <div class="row">
                            <%
                            if(pending.length >0){

                            %>
                        <ul class="collapsible" data-collapsible="accordion">
                            <%
                            for(let i = 0; i < pending.length;i++){
                                let data = pending[i];
                            %>

                            <li>
                                <div class="collapsible-header">
                                    <!--<span class="new badge  yellow accent-3 black-text"-->
                                          <!--data-badge-caption="Approval Pending"></span>-->
                                    <i class="material-icons">place</i>
                                    <%= data['link'] %>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Status</div>
                                            <div class="col s12 contentbox_main amber-text accent-4">Approval Pending
                                            </div>
                                            <% let now = new Date();
                                                let rdate = new Date(data['request_date']);
                                                let gapd = now.getDay() - rdate.getDay();
                                                let gaph = now.getHours() - rdate.getHours();
                                                let gapm = now.getMinutes() - rdate.getMinutes();
                                            %>
                                            <div class="col s12 contentbox_txt_down"><%=gapd+'d'%>  <%=gaph%>h <%=gapm%>mins</div>
                                        </div>
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">File Size</div>
                                            <div class="col s12 contentbox_main"><%= data['size'] %></div>
                                            <!--<div class="col s12 contentbox_txt_down">Avg Speed 255.75Kbps</div>-->
                                        </div>
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Estimated Time</div>
                                            <div class="col s12 contentbox_main">3h 52 mins</div>
                                            <div class="col s12 contentbox_txt_down">To complete download</div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <h5>Download Details</h5>
                                        </div>
                                        <div class="col s12 l2 contentbox_detail_field">Download Link</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%= data['link'] %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Requested Date</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <% let rdata = new Date(data['request_date']); %>
                                            <%= rdata.toDateString() %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">MD5</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            --
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Availability</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['availability'] || 'Not set' %></div>

                                        <div class="col s12 l2 contentbox_detail_field">Description</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['description'] || 'none' %></div>

                                        <div class="col s12 l2 contentbox_detail_field">Tags</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%
                                                var tags = data['tags'];
                                            if(tags != ''){
                                            for(let i = 0; i < tags.length;i++){ %>
                                            <div class="chip">
                                                <%= tags[i] %>
                                            </div>
                                            <% }
                                            } %>

                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col s12 right-align">
                                            <a class="waves-effect waves-light btn red white-text"><i
                                                        class="material-icons left">not_interested</i>Cancel</a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <%
                            }
                            %>
                        </ul>
                        <%
                        } else{%>

                        <div class="no-content">
                            No pending downloads available.

                        </div>
                        <%}%>

                    </div>
                </div>

                <!--Rejected download-->
                <div id="test4" class="col l12 m12 s12">
                    <div class="row">
                            <%
                            if(rejected.length >0){
                            %>
                        <ul class="collapsible" data-collapsible="accordion">
                            <%
                            for(let i = 0; i < rejected.length;i++){
                                let data = rejected[i];
                            %>

                            <li>
                                <div class="collapsible-header">
                                    <!--<span class="new badge  red darken-1 white-text" data-badge-caption="Rejected"></span>-->
                                    s<i class="material-icons">filter_drama</i> <%= data['link'] %>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <div class="col s12 l4 contentbox">
                                            <div class="col s12 contentbox_txt_up">Status</div>
                                            <div class="col s12 contentbox_main red-text accent-4">Rejected</div>
                                            <div class="col s12 contentbox_txt_down">By <%= data['admin'] %></div>
                                        </div>
                                        <div class="col s12 l8 contentbox">
                                            <div class="col s12 contentbox_reject_title truncate">This File is
                                                <%= data['reject_note'] %>.
                                            </div>
                                            <div class="col s12 contentbox_txt_down"><%= data['admin_note'] %>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <span class="subsection_title_sub no_padding">Download Details</span>
                                        </div>
                                        <div class="col s12 l2 contentbox_detail_field">Download Link</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%= data['link'] %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Requested Date</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['request_date'].toDateString() %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Rejected Date</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%= data['admin_decision_date'].toDateString() %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Rejection Reason</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%= data['reject_note'] %>
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">MD5</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            056f32ee5cf49404607e368bd8d3f2af
                                        </div>

                                        <div class="col s12 l2 contentbox_detail_field">Availability</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['availability'] || 'Not set' %>  </div>

                                        <div class="col s12 l2 contentbox_detail_field">Description</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value"><%= data['description'] || 'None' %></div>

                                        <div class="col s12 l2 contentbox_detail_field">Tags</div>
                                        <div class="col s12 l10 truncate  contentbox_detail_value">
                                            <%
                                                var tags = data['tags'];
                                            if(tags != ''){
                                            for(let i = 0; i < tags.length;i++){ %>
                                            <div class="chip">
                                                <%= tags[i] %>
                                            </div>
                                            <% }
                                            } %>
                                            s
                                        </div>


                                    </div>
                                    <!--<div class="row">-->
                                    <!--<div class="col s12 right-align">-->
                                    <!--<a class="waves-effect waves-light btn blue white-text"><i-->
                                    <!--class="material-icons left">not_interested</i>Dismiss</a>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </li>
                            <%
                            }
                            %>
                        </ul>
                        <%
                        } else{%>

                        <div class="no-content">
                            No rejected download requests.

                        </div>
                        <%}%>
                    </div>
                </div>

                <!--Recent public downlaod-->
                <div id="test5" class="col l12 m12 s12">
                    <div class="row">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                        </ul>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<!--Import footer part-->
<% include includes/foot.ejs %>

<script>

    $('.button-collapse').sideNav({
            menuWidth: 250, // Default is 300
            edge: 'left', // Choose the horizontal origin
        }
    );

</script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        responsive: true,
        maintainAspectRatio: false,
        data: {
            labels: ['10', '20', '30', '40', '50', '60', '70', '80', '90'],
            datasets: [{
                label: 'Download Speed',
                data: [900, 1024, 500, 247, 304, 125, 420],
                backgroundColor: "rgba(5, 176, 36,0.8)"
            }]
        }
    });
</script>

<script type="text/javascript" src="../public/javascript/dashboard.js"></script>

</body>
</html>
