<!-- Created by emalsha on 7/26/17. -->

<!DOCTYPE html>
<head>

    <% include includes/head.ejs %>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
</head>
<body>

<div class="row">
    <!--side menu-->
    <div>
        <ul id="slide-out" class="side-nav fixed">
            <div class="main_sidemenu" id="main_sidemenu">
                <div class="row">
                    <div class="row"></div>
                    <div class="row" style="text-align: center">
                        <img src="/public/images/logo_small.png"
                             style="width: 100%;height: auto;max-width: 160px;max-height: 93px;margin: 20px 0;" class="s12">
                    </div>
                    <div class="col sidemenu_profileimg"></div>
                    <div class="col s9">
                        <div class="row">
                            <div class="col s12 sidemenu_name truncate"
                                 style="text-transform: capitalize">  <%= user['uname'] %> </div>
                            <div class="col s12 sidemenu_role" style="text-transform: capitalize"><%= user['name'] %></div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="sidemenu_li"><a href="/users/dashboard" class="white-text"><i class="material-icons left" style="color: #ffffff;">dashboard</i>Dashboard</a>
                    </li>
                    <li class="sidemenu_li"><a href="/users/myfile" class="white-text"><i class="material-icons left" style="color: #ffffff;">description</i>My Files</a></li>
                    <li class="sidemenu_li"><a href="/users/publicfile" class="white-text"><i class="material-icons left" style="color: #ffffff;">work</i>Public Files</a></li>
                    <li class="sidemenu_li"><a href="/logout" class="white-text"><i class="material-icons left"
                                                                                    style="color: #ffffff;">settings_power</i>Logout</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>

    <!--page content-->
    <div class="main_content">

        <!--responsive - mobile size menu-->
        <div class="toppanel z-depth-1">
            <div class="col s4">
                <a href="#" id="sidemenu_toggle" data-activates="slide-out" class="button-collapse">
                    <i class="medium material-icons" style="cursor: pointer;color: #212121;">reorder</i>
                </a>

            </div>
            <div class="col s4">
                <div class="row" style="text-align: center">
                    <img src="/public/images/logo_small.png"
                         style="width: auto;height: 50px;max-width: 160px;max-height: 93px;margin: 5px;" class="s12">
                </div>
            </div>
            <div class="col s4 right-align">

            </div>
        </div>

        <!-- body container -->
        <div class="row main_container">
            <div class="col s12">
                <div class="col s8">
                    <h4>Similar Downloads</h4>
                </div>
                <div class="row">
                    <div class="col l4 m4 s4">
                        <form class="col l12 m12 s12">
                            <div class="row">
                                <div class="input-field">
                                    <i class="small material-icons prefix">search</i>
                                    <input type="text" id="search_file" class="validate">
                                    <label for="search_file">Search</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" id="result">
                    <%
                    if(downloads.length > 0){
                    %>
                    <ul class="collapsible" id="list" data-collapsible="accordion">
                        <%
                        for (let i = 0; i < downloads.length; i++) {
                            let data = downloads[i];
                        %>
                        <% let arr = data['link'].split("/");
                            let leng=arr.length -1;
                        %>

                        <li>
                            <div class="collapsible-header">
                                <div class="col s4 truncate"><%= data['link'] %></div>

                                <div class="col s4 right-align">
                                    <a  class="custom_btn blue white-text" href="/users/download/<%= arr[leng]%>">Download</a>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12">
                                        <span class="subsection_title_sub no_padding">Download Details</span>
                                    </div>
                                    <div class="col s12 l3 truncate contentbox_detail_field">Download Link</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value"><%= data['link'] %></div>

                                    <div class="col s12 l3 truncate contentbox_detail_field">Owner</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value"><%= data['owner'] %></div>

                                    <div class="col s12 l3 truncate contentbox_detail_field">Availability</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value"><%= data['availability'] %></div>

                                    <div class="col s12 l3 truncate contentbox_detail_field">Description</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value"><%= data['description'] %></div>

                                    <div class="col s12 l3 truncate contentbox_detail_field">Tags</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value">
                                        <%
                                            var tags = data['tags'];
                                        if(tags != ''){
                                        for(let i = 0; i < tags.length;i++){ %>
                                        <div class="chip">
                                            <%= tags[i] %>
                                        </div>
                                        <% }
                                        } %>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% }
                        %>

                    </ul>
                    <%
                    } else{ %>

                    <div class="no-content">
                        No downloaded files.

                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- end of body container -->

    </div>
</div>

<!--Import footer part-->
<% include includes/foot.ejs %>

<script>

    $('.button-collapse').sideNav({
            menuWidth: 250, // Default is 300
            edge: 'left', // Choose the horizontal origin
        }
    );

</script>
</body>
</html>


