<!-- Created by emalsha on 7/26/17. -->

<!DOCTYPE html>
<head>

    <% include includes/head.ejs %>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>

</head>
<body>

<!-- Download URL info Modal -->
<div id="url_info" class="modal">
    <form action="/download/request" method="post" id="url_info_form" style="margin: 0;">
        <div class="modal-content">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="URL" id="url" type="text" class="validate deep-orange-text accent-3"
                           value="<%= requested.link %>" disabled>
                    <label for="url">URL</label>
                </div>


                <div class="input-field col s12">
                    <input placeholder="Download Title" id="download_title" type="text" name="file_title"
                           value="<%= requested.file_title %>">
                    <label for="download_title">Download Title</label>
                    <div class="infotext">Provide a name to this download request so you can identify it later.</div>
                </div>
                <br>
                <br>
                <div class="input-field col s12">
                    <div class="chips black-text" id="url_tags"></div>
                    <label for="url_tags">Tags</label>
                    <!--TODO not completed tag including -->
                    <div class="infotext">Provide <b>tags</b> to help the administrators and other members (if public)
                        to identify the downloading file. Separate the tags using the <b>ENTER</b> key
                    </div>
                </div>

                <div class="input-field col s12">
                    <input id="url_desc" type="text" class="validate" name="description"
                           value="<%= requested.description %>">
                    <label for="url_desc">Description</label>
                </div>


                <div class="col s3">
                    <div class="col s12 contentbox_txt_up">Availability</div>
                    <br>
                    <div class="switch">
                        <label>
                            Private
                            <%
                            var avai;
                            if (requested.availability === 'public') {
                                avai = 'checked';
                            }
                            %>
                            <input type="checkbox"
                                   id="url_availablity_switch">
                            <%= avai %>
                            <span class="lever"></span>
                            Public
                        </label>
                    </div>
                </div>

                <div class="col s3">
                    <div class="col s12 contentbox_txt_up">File Size</div>
                    <div class="col s12 contentbox_main" id="file_size"><%= requested.size %></div>
                </div>

                <div class="col s3">
                    <div class="col s12 contentbox_txt_up">Automatic Confirmation</div>
                    <div class="col s12 contentbox_main" id="file_size">Unavailable</div>
                </div>

                <div class="col s3">
                    <div class="col s12 contentbox_txt_up">Default Priority</div>
                    <div class="col s12 contentbox_main" id="file_size">Normal</div>
                </div>

                <input type="hidden" id="url_hi" name="link" value="<%=requested.link%>">
                <input type="hidden" id="availability"
                       name="availability" value="<%=requested.availability%>">
                <input type="hidden" id="tag_values"
                       name="tags" value="<%=requested.tags_array%>">
                <input type="hidden" id="fsize" name="size" value="<%=requested.size%>">
                <input type="hidden" id="size_bytes" name="size_bytes" value="<%=requested.size_in_byte%>">
                <input type="hidden" name="check" value="true">

            </div>
            <div class="infotext"><b>IMPORTANT NOTE :</b><br> By clicking Confirm Request, you confirm that you have
                read and agree our Terms and Usage Policy. Breaking the system's Terms or Usage policies will lead up to
                account termination without prior warning.
            </div>
        </div>

        <div class="modal-footer" style="width: auto;margin-right: 10px;">
            <button type="submit" class="waves-effect modal-action waves-green btn" id="url_send_btn">
                Confirm Request
                <i class="material-icons right">send</i>
            </button>
            <button type="reset" class="modal-action modal-close waves-effect waves-red btn-flat">
                Cancel
            </button>
        </div>
    </form>
</div>

<div class="row">
    <!--side menu-->
    <div>
        <ul id="slide-out" class="side-nav fixed">
            <div class="main_sidemenu" id="main_sidemenu">
                <div class="row">
                    <div class="row"></div>
                    <div class="row" style="text-align: center">
                        <img src="/public/images/logo_small.png"
                             style="width: 100%;height: auto;max-width: 160px;max-height: 93px;margin: 20px 0;"
                             class="s12">
                    </div>
                    <div class="col sidemenu_profileimg"></div>
                    <div class="col s9">
                        <div class="row">
                            <div class="col s12 sidemenu_name truncate"
                                 style="text-transform: capitalize">  <%= user['uname'] %> </div>
                            <div class="col s12 sidemenu_role"
                                 style="text-transform: capitalize"><%= user['name'] %></div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="sidemenu_li"><a href="/users/dashboard" class="white-text"><i class="material-icons left"
                                                                                             style="color: #ffffff;">dashboard</i>Dashboard</a>
                    </li>
                    <li class="sidemenu_li"><a href="/users/myfile" class="white-text"><i class="material-icons left"
                                                                                          style="color: #ffffff;">description</i>My
                            Files</a></li>
                    <li class="sidemenu_li"><a href="/users/publicfile" class="white-text"><i
                                    class="material-icons left" style="color: #ffffff;">work</i>Public Files</a></li>

                    <!--<li class="sidemenu_li"><a href="/users/help" class="white-text"><i class="material-icons left" style="color: #ffffff;">live_help</i>About</a></li>-->
                    <li class="sidemenu_li"><a href="/logout" class="white-text"><i class="material-icons left"
                                                                                    style="color: #ffffff;">settings_power</i>Logout</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>

    <!--page content-->
    <div class="main_content">

        <!--responsive - mobile size menu-->
        <div class="toppanel z-depth-1">
            <div class="col s4">
                <a href="#" id="sidemenu_toggle" data-activates="slide-out" class="button-collapse">
                    <i class="medium material-icons" style="cursor: pointer;color: #212121;">reorder</i>
                </a>

            </div>
            <div class="col s4">
                <div class="row" style="text-align: center">
                    <img src="/public/images/logo_small.png"
                         style="width: auto;height: 50px;max-width: 160px;max-height: 93px;margin: 5px;" class="s12">
                </div>
            </div>
            <div class="col s4 right-align">

            </div>
        </div>

        <!-- body container -->
        <div class="row main_container">
            <div class="col s12">
                <div class="col s8">
                    <h4>Similar Downloads</h4>
                </div>
                <div class="row">
                    <div class="col l4 m4 s4">
                        <form class="col l12 m12 s12">
                            <div class="row">
                                <div class="input-field">
                                    <i class="small material-icons prefix">search</i>
                                    <input type="text" id="search_file" class="validate">
                                    <label for="search_file">Search</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" id="result">
                    <%
                    if(downloads.length > 0){
                    %>
                    <ul class="collapsible" id="list" data-collapsible="accordion">
                        <%
                        for (let i = 0; i < downloads.length; i++) {
                            let data = downloads[i];
                        %>
                        <% let arr = data['link'].split("/");
                            let leng = arr.length - 1;
                        %>

                        <li>
                            <%
                                var title;
                                if (data['file_title']) {
                                    title = data['file_title'];
                                } else {
                                    var ar = data['link'].split('/');
                                    title = ar[ar.length - 1];
                                } %>
                            <div class="collapsible-header">
                                <div class="col s4 truncate"><%= title %></div>

                                <%
                                if(data['availability'] === 'public' || data['owner'] === user['uname']){
                                %>
                                <div class="col s4 right-align">
                                    <a class="custom_btn blue white-text" href="/users/download/<%= data['_id'] %>">Download</a>
                                </div>
                                <% } else if(data['availability'] === 'private') { %>

                                <div class="col s4 right-align">
                                    <a class="custom_btn blue white-text" href="/users/ownership/<%= data['_id'] %>">Request</a>
                                </div>
                                <% } %>

                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12">
                                        <span class="subsection_title_sub no_padding">Download Details</span>
                                    </div>
                                    <div class="col s12 l3 truncate contentbox_detail_field">Download Link</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value"><%= data['link'] %></div>

                                    <div class="col s12 l3 truncate contentbox_detail_field">Owner</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value"><%= data['owner'] %></div>

                                    <div class="col s12 l3 truncate contentbox_detail_field">Availability</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value"><%= data['availability'] %></div>

                                    <div class="col s12 l3 truncate contentbox_detail_field">Description</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value"><%= data['description'] %></div>

                                    <div class="col s12 l3 truncate contentbox_detail_field">Tags</div>
                                    <div class="col s12 l9 truncate  contentbox_detail_value">
                                        <%
                                            var tags = data['tags'];
                                        if(tags != ''){
                                        for(let i = 0; i < tags.length;i++){ %>
                                        <div class="chip">
                                            <%= tags[i] %>
                                        </div>
                                        <% }
                                        } %>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% }
                        %>

                    </ul>
                    <%
                    } else{ %>

                    <div class="no-content">
                        No downloaded files.

                    </div>
                    <% } %>
                </div>

                <div class="row">
                    <button class="waves-effect modal-action waves-green btn" id="continue">
                        Continue Download
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
        <!-- end of body container -->

    </div>
</div>

<!--Import footer part-->
<% include includes/foot.ejs %>

<script>

    $('.button-collapse').sideNav({
            menuWidth: 250, // Default is 300
            edge: 'left', // Choose the horizontal origin
        }
    );

    $(document).ready(function () {
        $('#url_info').modal();
        $('#url_tags').material_chip();

        $('#continue').click(function () {
            console.log('sls');
            $('#url_info').modal('open');
        });

    });
</script>
</body>
</html>


