<!-- Created by emalsha on 3/20/17. -->

<!DOCTYPE html>
<head>

    <% include includes/head.ejs %>

    <!--Import footer part-->
    <% include includes/foot.ejs %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
</head>
<body>

<div class="row">
    <!--side menu-->
    <% include includes/main_nav.ejs %>

    <!--page content-->
    <div class="main_content">

        <!--responsive - mobile size menu-->
        <div class="toppanel z-depth-1">
            <div class="col s4">
                <a href="#" id="sidemenu_toggle" data-activates="slide-out" class="button-collapse">
                    <i class="medium material-icons" style="cursor: pointer;color: #212121;">reorder</i>
                </a>

            </div>
            <div class="col s4">
                <div class="row" style="text-align: center">
                    <img src="/public/images/logo_small.png"
                         style="width: auto;height: 50px;max-width: 160px;max-height: 93px;margin: 5px;" class="s12">
                </div>
            </div>
            <div class="col s4 right-align">

            </div>
        </div>

        <!-- table container -->
        <div class="row main_container">
	        <div class="col s12">
	        <h4>Public Files</h4>
	        	<table class="bordered">
				    <thead>
				      <tr>
				          <th>File Name</th>
				          <th>Size</th>
				          <th>Description</th>
				          <th>Tags</th>
				          <th>Download by</th>
				      </tr>
				    </thead>

				    <tbody>
				      <tr>

                <% if(downloadRequest.length){ %>

                <% } %>
                <% for(let item in downloadRequest) {
                    let data = downloadRequest[item];
                    let requestedDate = new Date(data['request_date']);
                %>

                <td><a href="/view_f/download/<%= data['filename']%>"><%= data['filename']%></a></td>
                <td><%= data['size'] %></td>
                <td><%= data['description'] %></td>
                <td><%= data['tags'] %></td>
                <td><%= data['request_user'] %></td>
                </tr>

                <%
              }%>

				    </tbody>
				</table>
	        </div>
        </div>
        <!-- end of body container -->

    </div>
</div>

<!--Import footer part-->
<% include includes/foot.ejs %>

<script>

    $('.button-collapse').sideNav({
            menuWidth: 250, // Default is 300
            edge: 'left', // Choose the horizontal origin
        }
    );

</script>
</body>
</html>



















<body>
